
.dyfi-popup {
  color:#444;

  > .dyfi-summary {
    display:block;
    list-style:none;
    padding:0;

    &:after {
      display:block;
      content:' ';
      clear:both;
    }
  }
}

.dyfi-summary-intensity,
.dyfi-summary-nresp,
.dyfi-summary-distance {
  display:block;
  float:left;
  width:33.33%;
  padding:4px;
  text-align:center;

  > abbr {
    clear:left;
    font-size:.6875em;
    color:#666;
    cursor:help;
  }
}
