@import '_DYFIUTMLayer';
@import '_ShakeMapStationLayer';
@import 'htdocs/css/_MouseOverLayer';
@import 'htdocs/css/_MousePosition';

.summary-interactive-map-wrapper {
  // these rules are applied in JS see InteractiveMap
  // position:fixed;
  // top:0;
  // right:0;
  // bottom:0;
  // left:0;

  margin:0;
  padding:8px;
  z-index:9999;
  background-color:rgba(0, 0, 0, 0.75);

  > .summary-interactive-map-close {
    box-sizing:content-box;
    display: block;
    margin: 0 auto;
    bottom:3.6em;
    box-shadow:none; // removes inset box shadow
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  }

  .city-distance {
    display:block;
    font-size:.9em;
    color:#333;
    font-style:italic;
  }
}

.summary-interactive-map {
  display:block;
  width:100%;

  // This rule is applied in JS see InteractiveMap
  // height:100%;
}

.summary-map a img {
  border:none;
}

.summary-map a:hover {
  cursor:pointer;
}
