.summary-map {

  > a {
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../images/star.png');
    display: inline-block;
    position: relative;

    > img {
      border: none;
      position: relative;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  > figcaption > a {
    display: block;
  }
}
