<!-- productType attribute defines type of product to load -->
<product-page productType="focal-mechanism">
  <!-- container with header attribute is added before attribution -->
  <ng-container header>
    <h2>Focal Mechanism</h2>
  </ng-container>

  <ng-container *ngIf="eventService.product$ | async | sharedTensor as tensor;
      else noTensor">
    <div class="row">
      <div class="column">
        <focal-mechanism-attribution [tensor]="tensor">
        </focal-mechanism-attribution>
        <shared-nodal-planes [tensor]="tensor"></shared-nodal-planes>
      </div>

      <div class="column">
        <shared-beachball
            [fillColor]="'#ffaa69'"
            [tensor]="tensor">
        </shared-beachball>
      </div>
    </div>
  </ng-container>

  <!-- container with footer attribute is added before downloads -->
  <ng-container footer></ng-container>

</product-page>

<ng-template #noTensor>
  <p class="alert error">No tensor data exists for this focal mechanism.</p>
</ng-template>
