/* set MMI variables */

$mmi-font-family: Tahoma, Verdana, Segoe, sans-serif;

$mmiI: #FFFFFF;
$mmiI-text-color: #000000;

$mmiII: #ACD8E9;
$mmiII-text-color: #000000;

$mmiIII: #ACD8E9;
$mmiIII-text-color: #000000;

$mmiIV: #83D0DA;
$mmiIV-text-color: #000000;

$mmiV: #7BC87F;
$mmiV-text-color: #000000;

$mmiVI: #F9F518;
$mmiVI-text-color: #000000;

$mmiVII: #FAC611;
$mmiVII-text-color: #000000;

$mmiVIII: #FA8A11;
$mmiVIII-text-color: #000000;

$mmiIX: #F7100C;
$mmiIX-text-color: #000000;

$mmiX: #C80F0A;
$mmiX-text-color: #000000;

$mmiXI: #C80F0A;
$mmiXI-text-color: #000000;

$mmiXII: #C80F0A;
$mmiXII-text-color: #000000;

.mmi {
  display: inline-block;
  text-align: center;

  > span {
    display: block;
    max-width: 100%;
    color: #000;

  }

  > abbr {
    color: #666;
    font-size: 0.8em;
  }
}

.mmi {
  border-radius: 2px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.roman {
  font-family: $mmi-font-family;
}

.mmiI {
  background-color: $mmiI !important;
  box-shadow: 0 0 1px #666;
  color: $mmiI-text-color !important;
}

.mmiII{
  background-color: $mmiII !important;
  color: $mmiII-text-color !important;
}

.mmiIII {
  background-color: $mmiIII !important;
  color: $mmiIII-text-color !important;
}

.mmiIV {
  background-color: $mmiIV !important;
  color: $mmiIV-text-color !important;
}

.mmiV {
  background-color: $mmiV !important;
  color: $mmiV-text-color !important;
}

.mmiVI {
  background-color: $mmiVI !important;
  color: $mmiVI-text-color !important;
}

.mmiVII {
  background-color: $mmiVII !important;
  color: $mmiVII-text-color !important;
}

.mmiVIII {
  background-color: $mmiVIII !important;
  color: $mmiVIII-text-color !important;
}

.mmiIX {
  background-color: $mmiIX !important;
  color: $mmiIX-text-color !important;
}

.mmiX {
  background-color: $mmiX !important;
  color: $mmiX-text-color !important;
}

.mmiXI {
  background-color: $mmiXI !important;
  color: $mmiXI-text-color !important;
}

.mmiXII {
  background-color: $mmiXII !important;
  color: $mmiXII-text-color !important;
}