/* set MMI variables */
@import '../css/mmi-colors.scss';

.mmi {
  border-radius: 2px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 0.5em;
  text-align: center;

  > span {
    color: #000;
    display: block;
    max-width: 100%;
  }
}

shared-bubble.mmi {
  padding: 0.5em 1em;
}

.roman {
  font-family: $mmi-font-family;
}
