<shared-bubble *ngIf="bubble; else noBubble"
    [name]="'mmi'"
    [title]="'Modified Mercalli Intensity'"
    [classes]="'border mmi mmi' + romanPipe.transform(intensity)">
  <span class="roman">
    <strong>{{ value ? value : intensity | sharedRoman }}</strong>
  </span>
</shared-bubble>

<ng-template #noBubble>
  <span class="mmi mmi{{ intensity | sharedRoman }}">
    <span class="roman">
      <strong>{{ value ? value : intensity | sharedRoman }}</strong>
    </span>
  </span>
</ng-template>
