:host {
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
shared-map {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 1286px) {
  :host {
    display: block;
    padding-bottom: 0;
    width: 960px;
    height: 960px;
  }
}
