<h4>{{ title }}</h4>

<figure>
  <ground-failure-alert-bar
    [bins]="(type === 'landslide' ? landslideBins : liquefactionBins)"
    [title]="title"
    [units]="units"
    [value]="value">
  </ground-failure-alert-bar>

  <figcaption [ngSwitch]="alert">
    <ng-container
        *ngIf="
          type === 'landslide'
          ? {
            none: 'landsliding',
            label: 'Landslides',
            verb: 'are'
          }
          : {
            none: 'liquefaction',
            label: 'Liquefaction',
            verb: 'is'
          }; let locals">

      <ng-container *ngSwitchCase="'green'">
        Little to no {{ locals.none }} is expected,
        but could still have occurred in highly susceptible areas.
      </ng-container>

      <ng-container *ngSwitchCase="'yellow'">
        {{ locals.label }} triggered by this earthquake {{ locals.verb }}
        estimated to be restricted in number and (or) spatial extent.
      </ng-container>

      <ng-container *ngSwitchCase="'orange'">
        {{ locals.label }} triggered by this earthquake {{ locals.verb }}
        estimated to be significant in number and (or) spatially extensive.
      </ng-container>

      <ng-container *ngSwitchCase="'red'">
        {{ locals.label }} triggered by this earthquake {{ locals.verb }}
        estimated to be extremely large in number and (or) spatial extent.
      </ng-container>
    </ng-container>
  </figcaption>
</figure>
