.contentsxml {
	clear: both;
	margin: .5em 0;
}

.contentsxml-content {
	margin: .5em 0;

	// header
	> header > h1 {
		margin: 0;
		font-size: .9em;
		font-weight: normal;
	}

	> .caption {
		color: #666;
		font-style: italic;
		font-size:.8em;
	}

	// available formats
	> .formats {
		list-style:none;
		margin:0 0 1em;
		font-size:.8em;
		padding-left: 0px;

		> li {
			float:left;
			display:block;
			display:inline-block;
			margin-right:1em;
		}

		&:after {
			content: ' ';
			clear:both;
			display:block;
		}
	}

	// image
	> figure {
		clear: both;
		margin: 1em 0;

		> img {
			margin: 8px 0;
			max-width: 100%;
		}

		> figcaption {
			font-style: italic;
		}
	}
}
