.accordion-page-downloads > .accordion-toggle {
  font-size: 1.2em;
}

dl.page-download {
  border-top: 1px solid #ddd;
  padding-top: 1em;

  &:first-child {
    padding: 0;
    border: none;
  }

  span {
    display:block;
  }

  > dt {
    > .type {
      font-size: 1.3em;
    }

    > .source {
      font-weight: normal;
      font-size: 0.8em;
      color: #666;
    }

    > .code {
      font-weight: normal;
      font-size: 0.8em;
      color: #666;
    }
  }

  > dd.file {
    margin: 1em 0 0;

    > .caption {
      font-size: 0.8em;
      color: #666;
    }
  }
}