/*** summary section styles ***/
.summary {
  position:relative;
  display: block;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #e5e5e5;

  &:hover {
    background:rgba(48, 106, 194, 0.05);
  }

  > ul {
    list-style: none;
    margin:0;
    padding:0;

    > li {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      max-width: 100px;
      line-height: 1;

      &.image > img {
        width:2.5em;
      }

      &.summary-hide {
        display:none;
      }

      > span {
        display:block;
      }

      > abbr {
        font-size: 0.6875em;
        color: #999;
      }
    }
  }
}

a.summary,
a.summary:visited,
a.summary:active,
a.summary:hover {
  text-decoration:none;
  color:#444;
}

.summary.preferred:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2713'; // checkmark
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  z-index:3;
  width:1.4em;
  line-height:1.4em;
  font-size:0.875em;
  text-align: center;
}

.summary.preferred:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border-right: 2em solid transparent;
  border-top: 2em solid #49a34b;
  z-index:2;
}

@media screen and (min-width:560px) {

  .summary > ul > li {
    font-size:1.125em;

    &.image > img {
      width:5.5em;
    }

    &.summary-hide {
      display:inline-block;
    }
  }
}