

.contentsxml {
	clear: both;
	margin: 1em 0;
}


.downloads > header {
	font-size: 19px;
	font-weight: bold;
	margin:1em 0;
}

.contentsxml-content {
	margin: 1em 0;
	border-top:1px solid #ddd;

	// header
	> header > h1 {
		margin: 1em 0 0.1em;
		font-size: 1em;
		font-weight: bold;
	}

	// available formats
	> .formats {
		list-style:none;
		margin:0 0 1em;
		padding:0;
		font-size:smaller;

		> li {
			float:left;
			display:block;
			display:inline-block;
			margin-right:1em;
		}

		&:after {
			content: ' ';
			clear:both;
			display:block;
		}
	}

	// image
	> figure {
		clear: both;
		margin: 1em 0;

		> img {
			margin: 8px 0;
			max-width: 100%;
		}

		> figcaption {
			font-style: italic;
		}
	}
}
