

.contentsxml {
	clear: both;
	margin: 1em 0;
}


.contentsxml-content {
	margin: 1em 0;
	border-top:1px solid #ddd;

	// header for content
	> header > h1 {
		margin: 1em 0 0;
		font-size: 1em;
		font-weight: bold;
		clear:both;
	}

	// image content
	> figure {
		clear: both;
		margin: 1em 0;

		> img {
			margin: 8px 0;
			max-width: 100%;
		}

		> figcaption {
			font-style: italic;
		}
	}

}

.contentsxml-downloads {

	> header > h1 {
		font-size:1em;
		font-weight:normal;
		margin: 1em 0 0;
	}

	> ul {
		margin-top:0;

		> li {
			padding:4px 0;
		}
	}
}
