<basic-pin *ngIf="product | dyfiCounter: 6 as responses"
  [link]="link"
  [product]="product"
  [title]="title"
  [footer]="footer">

  <figure>
    <div class="dyfi-responses-badge">
      <div *ngFor="let response of responses"
           class="responses-digit"
           [class.empty-digit]="response.leadingZero">
        {{ response.value }}
      </div>
    </div>
    <figcaption>Responses</figcaption>
  </figure>

  <p>
    Contribute to citizen science. Please <a href="#tellus">tell us</a>
    about your experience.
  </p>

</basic-pin>


