:host {
  max-width: 100%;
}

.omb-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
}

h2 {
  margin-top: 0;
}

mat-expansion-panel {
  margin-bottom: 1em;
}

mat-form-field {
  display: block;
}

mat-dialog-actions {
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (min-width: 400px) {
  h2 {
    display: flex;
  }

  .felt-header {
    display: block;
    flex: 1;
  }

  .omb-number {
    margin-left: 1em;
  }
}
