<ng-container *ngIf="languageService.language$ | async; let language">

  <mat-dialog-content>
    <h2>
      <span class="felt-header">Felt Report - Tell Us!</span>
      <div class="omb-number">
        OMB No. 1028-0048<br/>
        Expires 05/31/2018
      </div>
    </h2>

    <mat-form-field>
      <mat-label>Select Language</mat-label>
      <mat-select
          (selectionChange)="setLanguage($event.value)"
          [value]="language.id">
        <mat-option *ngFor="let language of languageService.languages"
            [value]="language.id">
          {{ language.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- location -->
    <tell-us-fieldset [legend]="language.locationInfo.label">
      <tell-us-location
          (change)="onAnswer($event)"
          [enter]="language.locationInfo.button"
          [update]="language.locationInfo.buttonUpdate">
      </tell-us-location>

      <!-- <pre>{{

        {
          ciim_mapAddress: answers.ciim_mapAddress,
          ciim_mapConfidence: answers.ciim_mapConfidence,
          ciim_mapLat: answers.ciim_mapLat,
          ciim_mapLon: answers.ciim_mapLon
        } | json

      }}</pre> -->
      <location-input-map></location-input-map>

    </tell-us-fieldset>

    <!-- time -->
    <ng-container *ngIf="!answers.eventid">
      <tell-us-fieldset [legend]="language.eventTime.ciim_time.label">
        <mat-form-field>
          <input matInput
              [(ngModel)]="answers.ciim_time"
              [placeholder]="language.eventTime.ciim_time.placeholder"/>
        </mat-form-field>
      </tell-us-fieldset>
    </ng-container>

    <!-- base questions (Did you feel it?) -->
    <ng-container *ngFor="let name of language.baseQuestions | keys">
      <tell-us-question
          *ngIf="language.baseQuestions[name]; let question"
          (change)="onAnswer($event)"
          [label]="question.label"
          [multiSelect]="question.multiSelect"
          [name]="name"
          [options]="question.answers"
          [value]="answers[name]">
      </tell-us-question>
    </ng-container>

    <!-- the rest is optional -->
    <p class="alert info optional"
        [innerHTML]="language.toggleInfo.description">
    </p>

    <!-- optional questions -->
    <ng-container *ngFor="let name of language.moreQuestions | keys">
      <tell-us-question
          *ngIf="language.moreQuestions[name]; let question"
          (change)="onAnswer($event)"
          [label]="question.label"
          [multiSelect]="question.multiSelect"
          [name]="name"
          [options]="question.answers"
          [value]="answers[name]">
      </tell-us-question>
    </ng-container>

    <!-- additional comments -->
    <tell-us-fieldset [legend]="language.comments.fldContact_comments.label">
      <mat-form-field>
        <textarea matInput
            [(ngModel)]="answers.fldContact_comments"
            matAutosizeMinRows="3"
            matTextareaAutosize>
        </textarea>
      </mat-form-field>
    </tell-us-fieldset>

    <!-- contact information -->
    <tell-us-fieldset [legend]="'Contact Information (optional)'">

      <mat-expansion-panel>
        <mat-expansion-panel-header>PRA - Privacy Act Statement</mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <tell-us-privacy-statement></tell-us-privacy-statement>
        </ng-template>
      </mat-expansion-panel>

      <mat-form-field>
        <mat-label>
          {{ language.contactInfo.fldContact_name.label }}
        </mat-label>
        <input matInput type="text"
            [(ngModel)]="answers.fldContact_name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          {{ language.contactInfo.fldContact_email.label }}
        </mat-label>
        <input matInput type="email"
            [(ngModel)]="answers.fldContact_email"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          {{ language.contactInfo.fldContact_phone.label }}
        </mat-label>
        <input matInput type="tel"
            [(ngModel)]="answers.fldContact_phone" />
      </mat-form-field>

    </tell-us-fieldset>

  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-button
        (click)="onSubmit()"
        [disabled]="
            answers.ciim_mapLat === null ||
            answers.ciim_mapLon === null ||
            answers.ciim_time === null ||
            answers.fldSituation_felt === null">
      {{ language.submit.label }}
    </button>

    <button mat-button
        (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>

</ng-container>


