:host {
  max-width: 100%;
}

h2 {
  display: flex;
  margin-top: 0;
}

.felt-header {
  display: block;
  flex: 1;
}

.omb-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin-left: 1em;
}

mat-expansion-panel {
  margin-bottom: 1em;
}

mat-form-field {
  display: block;
}
