<ng-container *ngIf="languageService.language$ | async; let language">

  <mat-dialog-content>
    <h2>
      <span>Felt Report - Tell Us!</span>
      <div class="omb-number">
        OMB No. 1028-0048<br/>
        Expires 05/31/2018
      </div>
    </h2>

    <p>
      form works!
      <button mat-raised-button (click)="enterLocationAndFelt()">Enter Location and Felt</button>
      <button mat-raised-button (click)="clearLocationAndFelt()">Clear Location and Felt</button>
    </p>

    <pre>{{ answers | json }}</pre>

    <mat-form-field>
      <mat-label>Select Language</mat-label>
      <mat-select
          (change)="changeLanguage($event)"
          [value]="languageService.language$.value.id">
        <mat-option *ngFor="let language of languageService.languages"
            [value]="language.id">
          {{ language.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <tell-us-location></tell-us-location>

    <ng-container *ngFor="let name of language.baseQuestions | keys">
      <tell-us-question
          *ngIf="language.baseQuestions[name]; let question"
          (change)="onAnswer($event)"
          [label]="question.label"
          [multiSelect]="question.multiSelect"
          [name]="name"
          [options]="question.answers"
          [value]="answers[name]">
      </tell-us-question>
    </ng-container>

    <p class="alert info optional"
        [innerHTML]="language.toggleInfo.description">
    </p>

    <ng-container *ngFor="let name of language.moreQuestions | keys">
      <tell-us-question
          *ngIf="language.moreQuestions[name]; let question"
          (change)="onAnswer($event)"
          [label]="question.label"
          [multiSelect]="question.multiSelect"
          [name]="name"
          [options]="question.answers"
          [value]="answers[name]">
      </tell-us-question>
    </ng-container>

    <fieldset>
      <legend>{{ language.comments.fldContact_comments.label }}</legend>

      <mat-form-field>
        <textarea matInput
            [(ngModel)]="answers.fldContact_comments"
            matAutosizeMinRows="5"
            matTextareaAutosize>
        </textarea>
      </mat-form-field>
    </fieldset>

    <fieldset>
      <legend>Contact Information (optional)</legend>

      <mat-expansion-panel>
        <mat-expansion-panel-header>PRA - Privacy Act Statement</mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <tell-us-privacy-statement></tell-us-privacy-statement>
        </ng-template>
      </mat-expansion-panel>

      <mat-form-field>
        <mat-label>
          {{ language.contactInfo.fldContact_name.label }}
        </mat-label>
        <input matInput type="text"
            [(ngModel)]="answers.fldContact_name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          {{ language.contactInfo.fldContact_email.label }}
        </mat-label>
        <input matInput type="email"
            [(ngModel)]="answers.fldContact_email"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          {{ language.contactInfo.fldContact_phone.label }}
        </mat-label>
        <input matInput type="tel"
            [(ngModel)]="answers.fldContact_phone" />
      </mat-form-field>
    </fieldset>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button
        (click)="onSubmit()"
        [disabled]="location === null || felt === null">
      Submit
    </button>
    <button mat-button [mat-dialog-close]="null">Cancel</button>
  </mat-dialog-actions>

</ng-container>
