<header class="product-page-header">
  <!-- custom module header content -->
  <ng-content></ng-content>

  <shared-summary-link [productType]="product?.type" [event]="event">
  </shared-summary-link>

  <small class="attribution">
    Contributed by
    <shared-product-attribution [product]="product">
    </shared-product-attribution>
    last updated {{product?.updateTime | dateTime}}
  </small>

  <ul class="quality-statements">
    <!-- Do not show preferredness for focal-mechanism products -->
    <ng-container *ngIf="product && product.type !== 'focal-mechanism';
        else empty">
      <ng-container *ngIf="isPreferred(event, product);
          then preferred else unpreferred">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="isReviewed(product); then reviewed else unreviewed">
    </ng-container>
  </ul>
</header>

<!-- Display Preferred Status -->
<ng-template #preferred>
  <li class="preferred">
    The data below are the most preferred data available
  </li>
</ng-template>
<ng-template #unpreferred>
  <li class="unpreferred">
    The data below are <strong>NOT</strong> the most preferred data available
  </li>
</ng-template>
<ng-template #empty></ng-template>

<!-- Display Review Status -->
<ng-template #reviewed>
  <li class="reviewed">
    The data below have been reviewed by a scientist
  </li>
</ng-template>
<ng-template #unreviewed>
  <li class="unreviewed">
    The data below have <strong>NOT</strong> been reviewed by a scientist.
  </li>
</ng-template>
