<!-- productType attribute defines type of product to load -->
<product-page productType="finite-fault">
  <!-- container with header attribute is added before attribution -->
  <ng-container header><h2>Finite Fault</h2></ng-container>

  <ng-container
    *ngIf="(eventService?.event$ | async) as event"
    summary-component
  >
    <technical-finite-fault-summary
      [event]="event"
      [products]="event | sharedGetProducts: 'finite-fault'"
    >
    </technical-finite-fault-summary>
  </ng-container>

  <finite-fault-detail
    [products]="eventService?.event$ | async | sharedGetProducts: 'finite-fault'"
    [product]="eventService.product$ | async">
  </finite-fault-detail>

  <ng-container more-information>
    <li>
      <a href="/data/finitefault/">Scientific Background for Finite Fault</a>
    </li>
  </ng-container>
</product-page>
