<!-- productType attribute defines type of product to load -->
<product-page productType="finite-fault">

  <!-- container with header attribute is added before attribution -->
  <ng-container header>
    <h2>
      <abbr title="Finite Fault">
          Finite Fault
      </abbr>
    </h2>
  </ng-container>

  <div *ngIf="eventService.product$ | async as product">

    <h2>Result</h2>
    <p>After comparing waveform fits based on the two planes of the input 
      moment tensor, we find that the nodal plane (strike= 293.0 deg., 
      dip= 7.0 deg.) fits the data better. The seismic moment release based upon
      this plane is 7.1e+27 dyne.cm (Mw = 7.8) using a 1D crustal model 
      interpolated from CRUST2.0 (Bassin et al., 2000).</p>
    <figure *ngIf="product |
        sharedProductContent
          :'_basemap.png'
          :('web/' + product?.properties?.eventsourcecode + '_basemap.png');
          let content">
      <img src="{{ content.url }}" alt="Finite fault basemap" />
      <figcaption><small>Finite fault basemap</small></figcaption>
    </figure>

    <h2>Cross-section of Slip Distribution</h2>
    <figure *ngIf="product |
        sharedProductContent
          :'_slip2.png'
          :('web/' + product?.properties?.eventsourcecode + '_slip2.png');
          let content">
      <img src="{{ content.url }}" alt="" />
      <figcaption><small>Slip distribution cross-section</small></figcaption>
    </figure>

    <h2>Moment Rate Function</h2>
    <figure *ngIf="product |
        sharedProductContent
          :'mr.png'
          :('web/mr.png'); let content">
      <img src="{{ content.url }}" alt="" />
      <figcaption><small>Moment rate function</small></figcaption>
    </figure>
    <p>
        Source time function, describing the rate of moment release with time
        after earthquake origin, relative to the peak moment rate
        (listed in the top right corner of the plot).
     </p>

  </div>

</product-page>