<ng-container *ngIf="product">
  <basic-pin
      [action]=link
      [event]=event
      [link]=link
      [title]=title
      [type]=type>
    <!-- pin content -->
    <dl card-content>
      <dt>Review Status</dt>
      <dd>{{ product.properties['review-status'].toUpperCase() }}</dd>

      <dt>Magnitude</dt>
      <dd>{{ product.properties.magnitude }} {{ product.properties['magnitude-type'] }}</dd>

      <dt>Depth</dt>
      <dd>{{ this.formatterService.depth(product.properties.depth, 'km') }}</dd>

      <dt>Time</dt>
      <dd>{{ product.properties.eventtime | date:"yyyy-MM-dd HH:mm:ss":"UTC" }} (UTC)</dd>
    </dl>
  </basic-pin>
</ng-container>
