<ng-container *ngIf="product">
  <mat-card [routerLink]="'../origin'">
    <mat-card-title>
      {{ title }}
    </mat-card-title>
    <mat-card-subtitle>
      Contributed by
      <span [innerHTML]="product | contributorList:event:contributors"></span>
    </mat-card-subtitle>
    <mat-card-content>
      <dl>
        <dt>Review Status</dt>
        <dd [innerHTML]="this.formatterService.reviewStatus(product.properties['review-status'])"></dd>

        <dt>Magnitude</dt>
        <dd [innerHTML]="this.formatterService.magnitude(product.properties.magnitude, product.properties['magnitude-type'])"></dd>

        <dt>Depth</dt>
        <dd [innerHTML]="this.formatterService.depth(product.properties.depth, 'km')"></dd>

        <dt>Time</dt>
        <dd [innerHTML]="this.formatterService.dateTime(product.properties.eventtime)"></dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" [routerLink]="'../origin'">View Origin Details</a>
    </mat-card-actions>
  </mat-card>
</ng-container>