<basic-pin
    [link]="link"
    [product]="product"
    [title]="title">

  <dl *ngIf="product?.properties as properties; else noProperties">
    <dt>Review Status</dt>
    <dd>{{ (properties['review-status'] || 'automatic') | uppercase }}</dd>

    <dt>Magnitude</dt>
    <dd>
      {{ properties.magnitude | sharedNumber:1 }}
      {{ properties['magnitude-type'] }}
    </dd>

    <dt>Depth</dt>
    <dd>{{ properties.depth | sharedNumber:1:'km' }}</dd>

    <dt>Time</dt>
    <dd>
      {{ properties.eventtime | date:"yyyy-MM-dd":"UTC" }}
      <br/>
      {{ properties.eventtime | date:"HH:mm:ss":"UTC" }}
      UTC
    </dd>
  </dl>

  <ng-template #noProperties>
    <p class="alert error">
      Origin properties not specified.
    </p>
  </ng-template>
</basic-pin>
