.download-file {
  font-size: 0.8125em;
  margin: 1.5em 0;
}

.download-title {
  font-weight: bold;
  display: block;
}

.download-caption {
  color: #666;
}

.download-formats {
  list-style: disc;
  margin: 0.5em 0 0;
}
