.back-to-summary-link {
  font-size: .75em;
}

.attribution {
  color: #666;
  display: block;
  font-size: .75em;
  font-weight: normal;
  margin-top: .5em;
}

.current-module {
  font-weight: bold;
}

.quality-statements {
  color: #999;
  font-size: .75em;
  margin-top: 0;

  > li {
    padding-left: 1.25em;
    position: relative;

    &:before {
      display: block;
      font-family: 'Material Icons';
      left: 0;
      margin-right: .25em;
      position: absolute;
      width: 1em;
    }

    &.preferred:before,
    &.reviewed:before {
      color: #090;
      content: '\0e5ca';
    }

    &.unpreferred:before,
    &.unreviewed:before {
      color: #F90;
      content: '\e888';
    }
  }
}

.table-summary {
  > thead {
    > tr th {

      > small {
        color: #666;
        font-weight: normal;
      }
    }
  }
  > tbody {
    > tr > th,
    > tr > td {
      background-color: rgba(0,0,0,0);
      color: #999;
      font-weight: 400;
      min-width: 4em;
      white-space: nowrap;

      > img {
        max-height: 3em;
      }

      &:first-child {
        padding-left: 2.25em;
      }
    }

    > tr:hover > th,
    > tr:hover > td {
      background-color: rgba(0,0,0,0.02);
    }

    > .preferred {
      > th,
      > td {
        color: #333;

        &:first-child {
          padding-left: 0.75em;
        }

        > .material-icons {
          color: #090;
          font-weight: bold;
          display: inline-block;
          margin-right: .5em;
          font-size: 1em;
        }
      }
    }
  }
}
