@import '../../../../../../node_modules/hazdev-location-view/src/LocationView';
@import '../../../../../../node_modules/hazdev-question-view/src/QuestionView';
@import '../../../../../../node_modules/hazdev-webutils/src/mvc/ModalView';


$dyfi-question-indent: 1.3em;

.hidden {
	display:none;
}

.dyfi-required-questions,
.dyfi-toggle-control,
.dyfi-optional-questions {
	margin:12px 0;
}

@mixin clickable {
	cursor:pointer;
}

@mixin question-question {
	margin-bottom:5px;
	font-weight:bold;
	color:#333;
}

@mixin question-answer {
	font-size:.9em;
}

@mixin dyfi-callout {
	background-color:#EEE;
	border:1px solid #999;
	padding:16px;
}

.dyfi-optional-callout {
	@include dyfi-callout();
	color:#333;
	font-size:.8em;

	> strong {
		display:block;
	}
}

.question {
	margin:20px 0;

	// QuestionView overrides
	> fieldset {
		padding:0;

		> legend {
			@include question-question();
		}

		> ul {
			margin:0 0 0 $dyfi-question-indent/2;
			padding:0;

			> li {
				@include question-answer();
				margin:2px 0;

				> label {
					font-size:.95em;
					padding-bottom:2px;
					padding-left:$dyfi-question-indent;
					text-indent:-($dyfi-question-indent+.1em);
					@include clickable();

					> input {
						margin:0 $dyfi-question-indent/2 0 0;
					}
				}

				> .other {
					width:200px;
				}
			}
		}
	}

	// Location/Comments/Contact
	> label {
		display:block;
		@include question-question();

		> small {
			font-weight:normal;
			display:block;
		}
	}
}

.dyfiIframe {
		width: 100%;
		height: 500px;
		border: 0;
		frameBorder: 0;
}

.dyfi-text-input {
	margin:10px 0;

	> input,
	> textarea {
		display:block;
	}
	> input {
		width:200px;
	}
	> textarea {
		width:100%;
		min-height:100px;
	}
}

.dyfi-contact-questions {
	@include dyfi-callout();
	margin-top:20px;

	> h4 {
		margin-bottom:0;
		line-height:1.0;

		> .subheader {
			display:block;
			color:#666;
			font-size:.7em;
			font-weight:normal;
			font-style:italic;
		}
	}
}

.felt-header {
	border-bottom:1px solid #333;
	padding: 0 0 0.5em;
}

.omb-number {
	position: absolute;
	text-align: right;
	top:0;
	right:0;
	font-size: .8em;

}

.dyfi-disclaimer {
	margin:1em 0;
}

.dyfi-form {
	> .modal-content {
		> header {
			position: relative;

			> .felt-header {
				margin-top: 0;
			}
		}
	}

	> .modal-footer {
		> button {
			margin:2px 2px 2px 4px;
			cursor:pointer;
		}
	}
}

.dyfi-form > .modal-footer,
.locationview > .modal-footer {
	padding: 4px;
	text-align:right;
}
