@import '../../../../../../node_modules/hazdev-webutils/src/mvc/ModalView';
@import '../../../../../../node_modules/hazdev-webutils/src/mvc/DownloadView';

.dyfi-responses {

	.dyfi {
		> tbody > tr {

			> .location {
				line-height: 1.2;

				> small {
					display:block;
					color:#999;
				}
			}

			> th {
				font-weight:normal;
				background:none;
			}

			> td, > th {
				display:none;
			}

			// Show only first 10 rows by default
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) > td, &:nth-child(#{$i}) > th {
					display:table-cell;
				}
			}
		}

		.mmi > span {
			display:block;
			padding:10px 0;
			text-align:center;
			border-radius:2px;
			text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3);
		}
	}

	.full-list > .dyfi > tbody > tr {
		td, th {
			display:table-cell;
		}
	}
}

.dyfi-tablist {
	> .tablist-panel {
		padding:1em;
	}
}

.dyfi-error,
.dyfi-info {
	display: inline-block;
	padding:10px;
}

.dyfi-error {
	background:#fcc;
}

.dyfi-info {
	background:#eee;
}

@media screen and (max-width: 559px) {

	.dyfi-error,
	.dyfi-info {
		display:block;
	}

	.dyfi-responses {

		.dyfi {
			/*** Label the data ***/
			td:nth-of-type(1):before { content:"MMI"; }
			td:nth-of-type(2):before { content:"Responses"; }
			td:nth-of-type(3):before { content:"Distance"; }

			> tbody > tr {
				> th {
					font-weight:bold;
				}

				> .location > small {
					display: inline;
					margin-left: 0.5em;
				}

				> td, > th {
					display:none;
				}

				@for $i from 1 through 10 {
					&:nth-child(#{$i}) > td, &:nth-child(#{$i}) > th {
						display:block;
					}
				}
			}

			.mmi > span {
				width:2em;
				padding:0;
			}
		}

		.full-list > .dyfi > tbody > tr {
			td, th {
				display:block;
			}
		}
	}
}
