.pager {

	.disclaimer {
		display:block;
		font-size:.8em;
		margin:0.5em 0;
	}

	table.pager-exposures,
	table.pager-cities {
		border:1px solid #ccc;
		border-spacing: 0;
		border-collapse: collapse;
		width:100%;

		td,
		th {
			padding:8px 10px;
		}

		> thead > tr {
			background: #ededed;

			> th {
				text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
				border-bottom:1px solid #ccc;

				> abbr {
					border-bottom: 1px dotted;
					cursor:default;
				}
			}
		}

		> tbody > tr {

			&.city-additional {
				display:none;
			}

			> td {
				border-top: 1px solid #e0e0e0;
				border-bottom: 1px solid #e0e0e0;
				border-left: 1px solid #e0e0e0;

				.mmi {
					display:inline-block;
					width:100%;
					padding:2px 4px;
					border-radius:2px;
					text-align:center;
					text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3);
					background-image: linear-gradient(to bottom, rgba(255,255,255,0.15),rgba(255,255,255,0));
				}

				&.exposure-mmi,
				&.cities-mmi {
					width:86px;
				}

				&.exposure-population,
				&.cities-population, {
					text-align:right;
				}
			}
		}

		&.show-additional > tbody > .city-additional {
			display:table-row;
		}
	}
}