.pager {

	.disclaimer, .legend, figcaption {
		display:block;
		font-size:.8em;
		color:#666;
	}
	.legend, figcaption {
		font-style:italic;
	}
	.toggle {
		cursor:pointer;
		display:block;
	}

	.mmi {
		display:inline-block;
		width:64px;
		padding:2px 4px;
		text-align:center;
		margin-right:8px;
		border-radius:2px;
		text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3);
	}

	table.pager-exposures,
	table.pager-cities {
		border:1px solid #ccc;
		border-spacing: 0;
		border-collapse: collapse;
		width:100%;
		margin:1em 0 0.5em;

		.mmi {
			width:100%;
			background-image: linear-gradient(to bottom, rgba(255,255,255,0.15),rgba(255,255,255,0));
		}

		td,
		th {
			padding:8px 10px;
		}

		> thead > tr {
			background: #ededed;

			> th {
				text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
				border-bottom:1px solid #ccc;

				> abbr {
					border-bottom: 1px dotted;
					cursor:default;
				}
			}
		}

		> tbody > tr {

			&.city-additional {
				display:none;
			}

			> td {
				border-top: 1px solid #e0e0e0;
				border-bottom: 1px solid #e0e0e0;
				border-left: 1px solid #e0e0e0;

				&.exposure-mmi,
				&.cities-mmi {
					width:86px;
				}

				&.exposure-population,
				&.cities-population, {
					text-align:right;
				}
			}
		}

			&.show-additional > tbody > .city-additional {
				display:table-row;
			}
	}


	.pager-cities {
		list-style:none;
		margin:0;
		padding:0;

		> li {
			position:relative;
			margin:8px 0;
			padding:0 72px 0 0;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;

			> .population {
				position:absolute;
				top:7px;
				bottom:6px;
				background-color:#fff;
				right:0;
				padding-left:8px;
				z-index:10;
				text-align:right;
			}
		}

		> .city-additional {
			display:none;
		}

		&.show-additional > .city-additional {
			display:block;
		}
	}
}