
.station-flag {
	color:#999;
}

.shakemap-summary > .info > ul > li {
		width:25%;
		vertical-align: middle;

		&.image {
			width:2.5em;
			margin-right:1em;
			position:relative;
			text-align:left;
		}
}

.summary-thumbnail {
	height:100px;
	width:105px;
}

.shakemap > .tablist-panel {
	padding:0 10px;
}

.shakemap-summary > .info > ul > li,
.station-summary > li {

	&.mmi {
		padding:5px;
		color:#000;
		text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3);
		border-radius:2px;
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,0));

		> abbr {
			color:#666;
		}
	}
}

.station > .accordion-content {

	padding: 0;

	> dl {
		color:#666;
		font-size:13px;
		margin:15px 0;

		> dt {
			font-weight:bold;
			float:left;
			width:60px;
		}

		> dd {
			-webkit-margin-start:0;
			-moz-margin-start:0;
			padding-left:70px;

			&:after {
				content:'';
				display:block;
				clear:both;
			}
		}
	}
}

@media screen and (min-width:768px) {

	.shakemap-summary > .info > ul > li.image {
			width:5.5em;
	}

	table.station-components {
		> tbody > tr {
			> .acc,
			> .vel,
			> .psa03,
			> .psa10,
			> .psa30 {
				text-align:right;
			}
		}
	}
}

@media screen and (max-width:767px) {
	// Impact -> Shakemap -> Staion List
	table.station-components {
		td:nth-of-type(1):before { content:'acc'; }
		td:nth-of-type(2):before { content:'vel'; }
		td:nth-of-type(3):before { content:'psa03'; }
		td:nth-of-type(4):before { content:'psa10'; }
		td:nth-of-type(5):before { content:'psa30'; }
	}
}
