
// toggle station details
div.show-station-details {

	> a.expand:before {
		content: '- ';
	}

	// > .station-details {
	// 	display:block;
	// }
}

.station-flag {
	color:#999;
}

.shakemap-summary {
	> .info {
		> span {
			display: block;
			margin: 0;
		}
		> .mmi-summary {
			display: inline-block;
			padding: 3px 6px;
			text-align: center;
			border-radius: 3px;
		}
	}
}

.summary-thumbnail {
	height: 100px;
	width: 105px;
}

.shakemap > .tablist-panel {
	padding:0 10px;
}
