
.station-flag {
	color:#999;
}

.shakemap-summary {
	> .info {
		> span {
			display: block;
			margin: 0;
		}
		> .mmi-summary {
			display: inline-block;
			padding: 3px 6px;
			text-align: center;
			border-radius: 3px;
		}
	}
}

.summary-thumbnail {
	height: 100px;
	width: 105px;
}

.shakemap > .tablist-panel {
	padding:0 10px;
}

@media screen and (max-width:767px) {

	// Impact -> Shakemap -> Staion List
	table.station-components {
		td:nth-of-type(1):before { content: 'acc'; }
		td:nth-of-type(2):before { content: 'vel'; }
		td:nth-of-type(3):before { content: 'psa03'; }
		td:nth-of-type(4):before { content: 'psa10'; }
		td:nth-of-type(5):before { content: 'psa30'; }
	}
}
