dl.page-download {
  border-top: 1px solid #f0f0f0;
  margin: 1em 0;

  &:first-child {
    border: none;
  }

  span {
    display:block;
  }

  > dt {
    > .type {
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    > .source {
      font-weight: normal;
      font-size: 0.8125em;
      color: #666;
    }

    > .code {
      font-weight: normal;
      font-size: 0.8125em;
      color: #666;
    }
  }

  > dd.file {
    margin: 1em 0 0;
    font-size: 0.8125em;

    > .title {
      font-weight: bold;
    }

    > .caption {
      color: #666;
    }
  }
}