
.event-header {
  > .event-datetime,
  > .event-coordinates,
  > .event-depth {
    color: #444;
    display: block;
    font-size: 0.88em;
  }
}

.pager-alertlevel-pending {
  background-color: #fff;
  color: #000;
}
.pager-alertlevel-green {
  background-color: #00b04f !important;
  color: #000 !important;
}
.pager-alertlevel-yellow {
  background-color: #ff0 !important;
  color: #000 !important;
}
.pager-alertlevel-orange {
  background-color: #f90 !important;
  color: #000 !important;
}
.pager-alertlevel-red {
  background-color: #f00 !important;
  color: #000 !important;
}

/* Width for media query makes the switch from percentages to pixels smooth. */
@media screen and (min-width: 480px) {
  .event-header {
    > .event-datetime,
    > .event-coordinates,
    > .event-depth {
      display: inline-block;
      padding-right: 1em;
      margin-left: 1em;
    }

    > .event-datetime,
    > .event-coordinates {
      border-right: 1px solid #ccc;
    }

    > .event-datetime {
      margin-left: 0;
    }
  }
}
