.event-header {
	> div {
		position:relative;
		margin:8px 0;

		> .link {
			color: #009;
			text-decoration:underline;
			cursor:pointer;
		}

		> span {
			display:block;
		}
	}

	> .impact-bubbles {

		> a {
			display: block;
			float:left;
			background-color: #fff;
			padding: 6px;
			text-align: center;
			text-decoration: none;
			line-height:1;
			border-radius: 3px;
			text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
			width:23.25%;
			margin-left:2%;
			max-width:100px;
			overflow:hidden;
			text-overflow:ellipsis;

			&:first-child {
				margin-left:0;
			}

			> strong, > span {
				display:block;
			}

			> strong {
				font-size:.8em;
			}

			> small {
				font-size:.6875em;
				color:#444;
			}
		}

		> a:hover {
			background-image: linear-gradient(to top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
		}

		.tsunami {
			border:0;
			padding:0;
			text-align:left;
			display:inline-block;
			font-size:0; /* removes hover effect that spills over */
			max-height:41px;
			max-width:96px;
			border-bottom:1px solid #292772;

			@media screen and (min-width:768px) {
				max-height:44px;
			}

			img {
				border-radius:3px;
				max-width:none;
			}
		}
	}
}

.pager-alertlevel-pending {
	background-color:#fff;
	color:#000;
}
.pager-alertlevel-green {
	background-color:#00b04f !important;
	color:#000 !important;
}
.pager-alertlevel-yellow {
	background-color:#ff0 !important;
	color:#000 !important;
}
.pager-alertlevel-orange {
	background-color:#f90 !important;
	color:#000 !important;
}
.pager-alertlevel-red {
	background-color:#f00 !important;
	color:#000 !important;
}

.roman {font-family: Tahoma, Verdana, Segoe, sans-serif;}
.mmiI{color:#000000 !important; background-color:#FFFFFF !important;
		box-shadow: 0 0 1px #666;}
.mmiII{color:#000000 !important; background-color:#ACD8E9 !important;}
.mmiIII{color:#000000 !important; background-color:#ACD8E9 !important;}
.mmiIV{color:#000000 !important; background-color:#83D0DA !important;}
.mmiV{color:#000000 !important; background-color:#7BC87F !important;}
.mmiVI{color:#000000 !important; background-color:#F9F518 !important;}
.mmiVII{color:#000000 !important; background-color:#FAC611 !important;}
.mmiVIII{color:#000000 !important; background-color:#FA8A11 !important;}
.mmiIX{color:#000000 !important; background-color:#F7100C !important;}
.mmiX{color:#000000 !important; background-color:#C80F0A !important;}
.mmiXI{color:#000000 !important; background-color:#C80F0A !important;}
.mmiXII{color:#000000 !important; background-color:#C80F0A !important;}

@media screen and (min-width: 768px) {
	.event-header {
		> .impact-bubbles {
			> a > strong {
				font-size:1em;
			}
		}
	}
}
// Width for media query makes the switch from percentages to pixels smooth.
@media screen and (min-width: 1088px) {
	.event-header {
		> .impact-bubbles {
			> a {
				margin-left:16px;
			}
		}
	}
}
