/* set MMI variables */

$mmi-font-family: Tahoma, Verdana, Segoe, sans-serif;

$mmiI: #FFFFFF;
$mmiI-text-color: #000000;

$mmiII: #ACD8E9;
$mmiII-text-color: #000000;

$mmiIII: #ACD8E9;
$mmiIII-text-color: #000000;

$mmiIV: #83D0DA;
$mmiIV-text-color: #000000;

$mmiV: #7BC87F;
$mmiV-text-color: #000000;

$mmiVI: #F9F518;
$mmiVI-text-color: #000000;

$mmiVII: #FAC611;
$mmiVII-text-color: #000000;

$mmiVIII: #FA8A11;
$mmiVIII-text-color: #000000;

$mmiIX: #F7100C;
$mmiIX-text-color: #000000;

$mmiX: #C80F0A;
$mmiX-text-color: #000000;

$mmiXI: #C80F0A;
$mmiXI-text-color: #000000;

$mmiXII: #C80F0A;
$mmiXII-text-color: #000000;
