/* set MMI variables */

$mmiI-text-color:#000000 !important;
$mmiI:#FFFFFF !important;

$mmiII-text-color:#000000 !important;
$mmiII:#ACD8E9 !important;

$mmiIII-text-color:#000000 !important;
$mmiIII:#ACD8E9 !important;

$mmiIV-text-color:#000000 !important;
$mmiIV:#83D0DA !important;

$mmiV-text-color:#000000 !important;
$mmiV:#7BC87F !important;

$mmiVI-text-color:#000000 !important;
$mmiVI:#F9F518 !important;

$mmiVII-text-color:#000000 !important;
$mmiVII:#FAC611 !important;

$mmiVIII-text-color:#000000 !important;
$mmiVIII:#FA8A11 !important;

$mmiIX-text-color:#000000 !important;
$mmiIX:#F7100C !important;

$mmiX-text-color:#000000 !important;
$mmiX:#C80F0A !important;

$mmiXI-text-color:#000000 !important;
$mmiXI:#C80F0A !important;

$mmiXII-text-color:#000000 !important;
$mmiXII:#C80F0A !important;

$mmi-font-family:Tahoma, Verdana, Segoe, sans-serif;
