.leaflet-control-background,
.leaflet-control-scale { /* This is baked into Leaflet core. */
    background-color: #FFF;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 7px;
    font-size: 11px;
    padding: 6px;
}

.leaflet-control-scale {
  float: left;
}

.leaflet-control-scale-line {
  font-size: 11px;
}

.leaflet-control-scale-line {
  border: 2px solid #000;
  border-top: 0;
  box-shadow: none !important;
  line-height: 1;
}

.leaflet-control-scale-line:nth-child(2) {
  border-bottom: 0px;
  border-top: 2px solid #000;
  margin-top: -2px;
  padding-top: 1px;
}

.leaflet-control-scale.leaflet-control {
  margin-bottom: 10px;
  margin-left: 10px;
  vertical-align: bottom;
}
