.leaflet-mouseover-tooltip {
  background-color: #FFF;
  background-color: rgba(255,255,255,0.75);
  border: 1px solid #333;
  border-radius: 3px;
  display: none;
  font-size: 12px;
  left: 0;
  margin: -1.75em 0 0;
  padding: 2px 4px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
