@media screen and (max-width:767px) {

	.origin > table.responsive {
		td:nth-of-type(1):before { content: 'NSCL'; }
		td:nth-of-type(2):before { content: 'Distance'; }
		td:nth-of-type(3):before { content: 'Azimuth'; }
		td:nth-of-type(4):before { content: 'Phase'; }
		td:nth-of-type(5):before { content: 'Arival Time'; }
		td:nth-of-type(6):before { content: 'Status'; }
		td:nth-of-type(7):before { content: 'Residual'; }
		td:nth-of-type(8):before { content: 'Weight'; }
	}

	.networkmagnitude-stations {
		border:none;
		background:none;
		text-align:left;

		> tbody > tr {
			text-align:left;
			background:none;

			> td,
			> td:before {
				padding:5px 15px 0;
			}

			> td {
				border:none;
				padding-left:36%;
			}

			> td:first-child {
				font-weight:bold;
				border-bottom:1px solid #ccc;
				padding-left:0;
				padding-bottom:5px;
				margin-top:20px;
			}

			> td:before {
				padding-left:0;
			}

			> td:nth-of-type(2):before { content: 'Type'; }
			> td:nth-of-type(3):before { content: 'Amplitude'; }
			> td:nth-of-type(4):before { content: 'Period'; }
			> td:nth-of-type(5):before { content: 'Status'; }
			> td:nth-of-type(6):before { content: 'Magnitude'; }
			> td:nth-of-type(7):before { content: 'Weight'; }
		}
	}

}
