.networkmagnitude,
.station {
	position:relative;
	border:1px solid #ddd;
	background:#f6f6f6;
	color:#666;
	margin:10px 0;
	padding:10px 15px;

	> h3 {
		display: block;
		margin:0;
		color:#444;
		font-weight:normal;
		padding-right:70px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;

		> em {
			padding-right:10px;
			font-weight:bold;
			font-style:normal;
		}
	}

	abbr {
		border-bottom:1px dotted #999;
	}

	> .accordion-toggle {
		position:absolute;
		top:3px;
		right:15px;
		margin:10px 0 0px;
		padding:0;
		color:#00f;
		cursor:pointer;
		padding:2px;
		font-size:12px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.station-summary,
.networkmagnitude-summary {
	margin:10px 0 0;
	padding:0;

	> li {
		display:inline-block;
		width:25%;
		max-width:100px;
		padding:5px;
		text-align:center;
		line-height:1;

		> span {
			display:block;
			padding:0; // override styles from dyfi responses
			max-width:100%; // override styles from dyfi responses
		}

		> abbr {
			font-size:12px;
			color:#999;
		}
	}
}
