@import 'compass/css3';

@import 'event-layout.css';
@import 'event-header.css';
@import 'event-footer.css';
@import 'event-summary.css';

@import 'downloads.css';
@import '../../../node_modules/hazdev-tablist/src/tablist/TabList.scss';
@import 'MouseOverLayer.css';

// --------------------------------------------------
// Page-Wide Styles
// --------------------------------------------------

@import '../modules/base/0-0-1/css/ContentsXML.scss';

* {
	@include box-sizing(border-box);
}

.page-header > h1 {
	margin:0;
}
.page-content {
	margin-top:0;
}

.clearfix:after {
	display:block;
	content:' ';
	clear:both;
}
