@import 'htdocs/css/_alert.scss';  /* from hazdev-template */

@import 'accordion/Accordion.scss';
@import 'mvc/ModalView.scss';
@import 'mvc/DownloadView.scss';
@import 'tablist/TabList.scss';
@import 'svgimagemap/SvgImageMap.scss';

@import '_event-header.scss';
@import '_event-footer.scss';
@import '_downloads.scss';
/* Scientific table begins responsive table then add more specific styles */
@import '_responsiveTableScientific.scss';

/* --------------------------------------------------
 Page-Wide Styles
 -------------------------------------------------- */

@import 'modules/base/index.scss';

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
}

.sortview {
  display: inline;
}

canvas {
  display: block;
  margin: 1em 0 0;
}

.attribution {
  color: #666;
  display: block;
  font-size: .75em;
  font-weight: normal;
  margin-top: 2px;
}
