@import 'compass/css3';

@import 'event-layout.css';
@import 'event-header.css';

@import 'downloads.css';

* {
	@include box-sizing(border-box);
}

h1 {
	margin:8px 0;
}

.clearfix:after {
	display:block;
	content:' ';
	clear:both;
}
