@import 'compass/css3';

@import 'event-layout';
@import 'event-header';
@import 'event-footer';
@import 'downloads';
@import 'MouseOverLayer';
@import 'alerts';

@import '../../../node_modules/hazdev-tablist/src/tablist/TabList.scss';

/* svg image map */
@import '../../../node_modules/hazdev-svgimagemap/src/svgimagemap/SvgImageMap.scss';

/* responsive table */
$td_padding: 10px;
$th_padding: $td_padding * 2;
@import 'responsiveTable';

// --------------------------------------------------
// Page-Wide Styles
// --------------------------------------------------

@import '../modules/base/0-0-1/css/index.scss';

.page-header > h1 {
	margin:0;
}
.page-content {
	margin-top:0;
}

.clearfix:after {
	display:block;
	content:' ';
	clear:both;
}
