@import 'compass/css3';

@import 'event-header';
@import 'event-footer';
@import 'downloads';

@import 'tablist/TabList.scss';
@import 'accordion/Accordion.scss';
@import 'htdocs/css/alert.scss';  // from hazdev-template

/* svg image map */
@import 'svgimagemap/SvgImageMap.scss';

/* Scientific table begins responsive table then add more specific styles */
@import 'responsiveTableScientific';

// --------------------------------------------------
// Page-Wide Styles
// --------------------------------------------------

@import 'modules/base/index.scss';

.clearfix:after {
  display:block;
  content:' ';
  clear:both;
}

.sortview {
  display:inline;
}

.datatable-tools {
  margin: 1em 0 0;
}

canvas {
  margin: 1em 0 0;
  display: block;
}

.attribution {
  color: #666;
  font-size: .75em;
  display:block;
  font-weight:normal;
  margin-top: 2px;
}
