@import 'compass/css3';

@import 'event-layout.css';
@import 'event-header.css';

@import 'downloads.css';

* {
	@include box-sizing(border-box);
}

.page-header > h1 {
	margin:0;
}
.page-content {
	margin-top:0;
}

.clearfix:after {
	display:block;
	content:' ';
	clear:both;
}
