<div class="horizontal-scrolling">
  <mat-table [dataSource]="products" class="pager-table">
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row
      *matRowDef="let product; columns: this.columnsToDisplay"
      class="link"
      [class.selected]="product === event.product"
      [routerLink]="['/', event?.id, 'pager']"
      [queryParams]="{ source: product?.source, code: product?.code }"
    ></mat-row>

    <ng-container matColumnDef="catalog">
      <mat-header-cell *matHeaderCellDef> Catalog </mat-header-cell>
      <mat-cell *matCellDef="let pager">
        <ng-container *ngIf="pager === products[0]">
          <shared-preferred-check [title]="'Preferred LossPager'">
          </shared-preferred-check>
        </ng-container>
        {{ pager?.properties?.eventsource?.toUpperCase() }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="alertlevel">
      <mat-header-cell *matHeaderCellDef> Alert Level </mat-header-cell>
      <mat-cell *matCellDef="let pager">
        <shared-alert-level [alert]="pager?.properties?.alertlevel">
        </shared-alert-level>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
      <mat-cell *matCellDef="let pager">
        <shared-product-attribution [product]="pager">
        </shared-product-attribution>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>
