<ng-container *ngIf="eventService.event$ | async; let event">

  <shared-text-product
      *ngFor="let product of event.getProducts('general-header')"
      [product]="product">
  </shared-text-product>

  <ul class="executive-summary-pins">
    <li class="executive-summary-pin">
      <executive-region-info-pin [event]="event" class="pin-view">
      </executive-region-info-pin>
    </li>

    <li class="executive-summary-pin" *ngIf="event.getProduct('origin'); let origin">
      <executive-origin-pin [product]="origin" class="pin-view">
      </executive-origin-pin>
    </li>

    <li class="executive-summary-pin" *ngIf="event.getProduct('moment-tensor'); let momentTensor">
      <executive-moment-tensor-pin [product]="momentTensor" class="pin-view">
      </executive-moment-tensor-pin>
    </li>
  </ul>

  <shared-text-product
      *ngFor="let product of event.getProducts('general-text')"
      [product]="product">
  </shared-text-product>

  <ng-container *ngIf="event.hasProducts('general-link')">
    <h3>For More Information</h3>
    <ul>
    <li *ngFor="let product of event.getProducts('general-link')">
      <shared-link-product [product]="product">
      </shared-link-product>
    </li>
    </ul>
  </ng-container>

</ng-container>
