<ng-container *ngIf="eventService.event$ | async; let event">
  <ul class="executive-summary-pins">
    <li class="executive-summary-pin">
      <app-origin-pin class="pin-view"
          [contributors]="contributorService.contributors$ | async"
          [event]="event">
      </app-origin-pin>
    </li>
    <li class="executive-summary-pin">
      <app-regional-pin class="pin-view"
          [contributors]="contributorService.contributors$ | async"
          [event]="event">
      </app-regional-pin>
    </li>
  </ul>
  <shared-text-product
      *ngFor="let product of event.getProducts('general-text')"
      [product]="product">
  </shared-text-product>

  <ng-container *ngIf="event.hasProducts('general-link')">
    <h3>For More Information</h3>
    <ul>
    <li *ngFor="let product of event.getProducts('general-link')">
      <shared-link-product [product]="product">
      </shared-link-product>
    </li>
    </ul>
  </ng-container>
</ng-container>
