<ng-container *ngIf="eventService.event$ | async; let event">
  <shared-text-product
      *ngFor="let product of event.getProducts('general-header')"
      [product]="product">
  </shared-text-product>

  <ul class="pins">
    <li>
      <executive-map-pin [event]="event">
      </executive-map-pin>
    </li>
    <li>
      <executive-region-info-pin [event]="event">
      </executive-region-info-pin>
    </li>

    <li *ngIf="event | getProduct:'origin'; let origin">
      <executive-origin-pin [product]="origin">
      </executive-origin-pin>
    </li>

    <li *ngIf="event | getProduct:'moment-tensor'; let momentTensor;
        else noMomentTensor">
      <executive-moment-tensor-pin [product]="momentTensor">
      </executive-moment-tensor-pin>
    </li>

    <ng-template #noMomentTensor>
      <li *ngIf="event | getProduct:'focal-mechanism'; let focalMechanism">
        <executive-focal-mechanism-pin [product]="focalMechanism">
        </executive-focal-mechanism-pin>
      </li>
    </ng-template>
  </ul>

  <shared-text-product
      *ngFor="let product of event.getProducts('general-text')"
      [product]="product">
  </shared-text-product>

  <ng-container *ngIf="event.hasProducts('general-link')">
    <h3>For More Information</h3>
    <ul>
    <li *ngFor="let product of event.getProducts('general-link')">
      <shared-link-product [product]="product">
      </shared-link-product>
    </li>
    </ul>
  </ng-container>
</ng-container>
