.summary-map {

	> a {
		position:relative;
		display:inline-block;

		background-size:32px 32px;
		background-repeat:no-repeat;
		background-position:center center;
		background-image:url('../../../../images/star.png');

		> img {
			position:relative;
			width:100%;
			z-index:-1;
		}
	}

	> figcaption > a {
		display: block;
	}
}