@import 'InteractiveMap';
@import '_SummaryPage';
@import 'TectonicSummary';

.accordion {
	> h3 {
		cursor:pointer;
	}

	&.accordion-collapsed {
		> div {
			display:none;
		}
	}
}

@media (min-width:768px) {
	.accordion {
		> h3 {
			cursor:default;
		}

		&.accordion-collapsed {
			> div {
				display:block;
			}
		}
	}
}
