$forecast-cell-width: 15em;

.oaf-forecast-table-view {
  > table {
    > thead {
      > tr > th {
        max-width: $forecast-cell-width;
        text-align: center;
      }
    }

    > tbody {
      > tr > th,
      > tr > td {
        max-width: $forecast-cell-width;
        text-align: center;
      }

      > tr > th {
        background-color: #fff;
        font-weight: normal;
      }
    }
  }
}
