.oaf-forecast-table-view {
  > div > table {
    > thead {
      > tr > th {
        text-align: center;
        min-width: 7.5em;
      }
    }

    > tbody {
      > tr > th,
      > tr > td {
        text-align: center;
      }

      > tr > th {
        background-color: #fff;
        font-weight: normal;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .oaf-forecast-table-view > div > table > thead > tr > th {
    min-width: 15em;
  }
}
