.executive-summary-pins {
  list-style: none;
  margin: 0 0 1em 0;
  overflow: hidden;
  padding: 0;

  &:after {
    clear: left;
    content: '';
    display: block;
  }
}

.executive-summary-pin {
  height: 19em; /* ~320px */
  margin: 1em auto 0;
  width: 13em; /* ~220px */
}

@media screen and (min-width: 31em) {
  .executive-summary-pins {
    margin: 0 0 1em -1em;
  }

  .executive-summary-pin {
    float: left;
    margin: 1em 0 0 1em;
  }
}
