
.generalsummary-time > ol > li small {
  font-size: .75em;
}



/* Tectonic Summary Images */

.generalsummary-tectonic-summary > .tectonic {
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1em 0 1em;
  position: relative;
  width: 304px;

  @media (min-width: 560px) {
    float: right;
  }

  &:after{
    bottom: -1.5em;
    content: 'Map of Tectonic Summary Region';
    display: block;
    font-size: 0.75em;
    left: 1em;
    position: absolute;
  }

  &.aleutian {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/aleutian_tsum304.jpg');
    height: 196px;
  }


  &.caribbean {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/caribbean_tsum304.jpg');
    height: 204px;
  }


  &.emaustralia {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/emaustralia_tsum304.jpg');
    height: 432px;
  }


  &.himalaya {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/himalaya_tsum304.jpg');
    height: 204px;
  }


  &.japan {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/japan_tsum304.jpg');
    height: 294px;
  }

  &.java {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/java_tsum304.jpg');
    height: 192px;
  }

  &.kuril {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/kuril_tsum304.jpg');
    height: 350px;
  }

  &.middleeast {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/middleeast_tsum304.jpg');
    height: 204px;
  }

  &.newguinea {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/newguinea_tsum304.jpg');
    height: 168px;
  }

  &.philippinesea {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/philippinesea_tsum304.jpg');
    height: 294px;
  }

  &.southamerica {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/southamerica_tsum304.jpg');
    height: 350px;
  }

  &.sumatra {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/sumatra_tsum304.jpg');
    height: 434px;
  }

  &.mexico {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/mexico_tsum304.jpg');
    height: 192px;
  }

  &.mediterranean {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/mediterranean_tsum304.jpg');
    height: 204px;
  }

  &.qcf {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/qcf_tsum304.jpg');
    height: 390px;
  }
}
