.regional-info-module-map {
  cursor: pointer;
  height: 310px;
  margin-bottom: 1em;
}

@media screen and (min-height: 600px) and (min-width: 900px) {
  .regional-info-module-map {
    height: 500px;
  }
}

@media screen and (min-height: 900px) and (min-width: 1280px) {
  .regional-info-module-map {
    height: 640px;
  }
}

.regional-info-module-location-coordinates {
  margin-top: 0;
}

.regional-info-module-places > small {
  display: block;
}

.regions-places > :first-child > h3 {
  margin-top: 0;
}

.regional-info-module-admin > dt,
.regional-info-module-fe > dt {
  font-size: 0.88em;
}

.regional-info-module-tectonic-summary > .tectonic {
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto 2em;
  position: relative;
  width: 304px;

  &:after{
    bottom: -1.5em;
    content: 'Map of Tectonic Summary Region';
    display: block;
    font-size: 0.75em;
    left: 50%;
    margin-left: -152px;
    position: absolute;
    text-align: center;
    width: 304px;
  }

  @media screen and (min-width: 740px) and (max-width: 767px), screen and (min-width: 960px) {
    float: right;
  }


  &.aleutian {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/aleutian_tsum304.jpg');
    height: 196px;
  }


  &.caribbean {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/caribbean_tsum304.jpg');
    height: 204px;
  }


  &.emaustralia {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/emaustralia_tsum304.jpg');
    height: 432px;
  }


  &.himalaya {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/himalaya_tsum304.jpg');
    height: 204px;
  }


  &.japan {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/japan_tsum304.jpg');
    height: 294px;
  }

  &.java {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/java_tsum304.jpg');
    height: 192px;
  }

  &.kuril {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/kuril_tsum304.jpg');
    height: 350px;
  }

  &.middleeast {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/middleeast_tsum304.jpg');
    height: 204px;
  }

  &.newguinea {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/newguinea_tsum304.jpg');
    height: 168px;
  }

  &.philippinesea {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/philippinesea_tsum304.jpg');
    height: 294px;
  }

  &.southamerica {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/southamerica_tsum304.jpg');
    height: 350px;
  }

  &.sumatra {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/sumatra_tsum304.jpg');
    height: 434px;
  }

  &.mexico {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/mexico_tsum304.jpg');
    height: 192px;
  }

  &.mediterranean {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/mediterranean_tsum304.jpg');
    height: 204px;
  }

  &.qcf {
    background-image: url('https://earthquake.usgs.gov/earthquakes/tectonic/images/qcf_tsum304.jpg');
    height: 390px;
  }
}
