<ng-container *ngIf="eventService.product$ | async; let dyfi">
    <a
        *ngIf="dyfi.contents[dyfi.code + '_ciim_geo.jpg'] &&
        dyfi.contents[dyfi.code + '_ciim_geo.jpg'].url; else noImage"
        [routerLink]="'../../map'"
        [queryParams]="{
          'dyfi-responses-10km': true,
          'shakemap-intensity': false
         }">
    <img 
        src="{{ dyfi.contents[dyfi.code + '_ciim_geo.jpg'].url }}"
        alt="DYFI intensity map">
    </a>
  <ng-template #noImage>
    <h1>Not available for this event</h1>
  </ng-template>
</ng-container>
