.magnitude-summary {
  padding: 0;
}

.magnitude-summary > li {
  display: inline-block;
  line-height: 1;
  max-width: 100px;
  text-align: center;
  width: 25%;
}


mat-expansion-panel-header {
  color: #00f;
  text-decoration: underline;
}
