.magnitude-summary {
  padding: 0;

  > li {
    display: inline-block;
    line-height: 1;
    max-width: 100px;
    text-align: center;
    width: 25%;
  }
}

.contributions {
  text-decoration: underline;
}
