@import 'locationview/CoordinateControl';
@import 'locationview/GeocodeControl';
@import 'locationview/GeolocationControl';
@import 'locationview/LeafletControls';
@import 'locationview/LocationControl';
@import 'locationview/LocationView';
@import 'locationview/PointControl';

@import 'questionview/QuestionView';
@import 'mvc/ModalView';

.dyfiIframe {
  border: 1px solid #ddd;
  margin: 1em 0 0;
  padding: 1em;
  width: 100%;
}

/* this supports both location view and dyfi-form */
.modal-dialog > .modal-footer {
  padding: 0.75em 1em;

  button {
    margin: 0 0.75em 0 0;
  }
}

.modal-content {
  position: relative;
}

.dyfi-form {

  .question {
    .other {
      margin-left: 2.5em; /* align input box with labels */
    }

    ul {
      padding: 0;
      margin: 0;
    }

    legend {
      font-weight: bold;
    }
  }

  .alert {
    margin: 1em 0 0;
  }
}

.dyfi-optional-callout > strong {
  display:block;
  margin-bottom: 0.5em;
}

.dyfi-text-input {
  margin: 1em 0 0;

  textarea {
    width: 100%;
    margin: 0;
    height: 5em;
  }

  label {
    font-weight: bold;
    display:block;
  }
}

.dyfi-contact-questions {

  label {
    font-weight:normal;
  }

  h4 {
    //margin:0;
  }
  .subheader {
    font-size:12px;
    //color: #777;
  }
}

.dyfi-required-questions {
  margin: 1em 0 0;
}

.omb-number {
  font-size:12px;
  position: absolute;
  right: 16px;
  top: 16px;
  text-align: right;
}

.felt-header {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}

.location-result {
  font-size: 0.815em;
  margin: 1em 0 0;
  display:inline-block;

  > .address {
    font-weight:bold;
    display:block;
  }
}

.location-button {
  display:block;
  margin:1em 0 0;
}

.leaflet-control-input > button {
  line-height:3rem;
  font-size: 1em;
}


@media screen and (min-width:768px) {

  .dyfi-form > .question .other {
    margin-left: 3em;
  }

  .locationview-button {
    line-height: 3rem;
    height: 3rem;
    font-size:12px;
  }
}