@import 'locationview/CoordinateControl.scss';
@import 'locationview/GeocodeControl.scss';
@import 'locationview/GeolocationControl.scss';
@import 'locationview/LeafletControls.scss';
@import 'locationview/LocationControl.scss';
@import 'locationview/LocationView.scss';
@import 'locationview/PointControl.scss';

@import 'questionview/QuestionView.scss';

.dyfiIframe {
  border: 1px solid #ddd;
  margin: 1em 0 0;
  padding: 1em;
  width: 100%;
}

/* this supports both location view and dyfi-form */

.dyfi-form {
  .alert {
    margin: 1em 0 0;
  }

  .question {
    .other {
      margin-left: 2.5em; /* align input box with labels */
    }

    ul {
      margin: 0;
      padding: 0;
    }

    legend {
      font-weight: bold;
    }
  }
}

.dyfi-optional-callout > strong {
  display: block;
  margin-bottom: 0.5em;
}

.dyfi-text-input {
  margin: 1em 0 0;

  textarea {
    height: 5em;
    margin: 0;
    width: 100%;
  }

  label {
    display: block;
    font-weight: bold;
  }
}

.dyfi-contact-questions {
  label {
    font-weight: normal;
  }

  .subheader {
    font-size: 12px;
  }
}

.dyfi-required-questions {
  margin: 1em 0 0;
}

.omb-number {
  font-size: 12px;
  position: absolute;
  right: 1.5em;
  top: 0.5em;
}

.felt-header {
  border-bottom: 1px solid #ddd;
  margin-top: 8px;
  padding-bottom: 0.5em;
}

.location-result {
  display: inline-block;
  font-size: 0.815em;
  margin: 1em 0 0;

  > .address {
    display: block;
    font-weight: bold;
  }
}

.location-button {
  display: block;
  margin: 1em 0 0;
}


/** Location View **/

.locationview-button {
  font-size: 15px;
  padding: 0 1em;

  &:hover {
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
  }
}

.leaflet-control-input > button {
  font-size: 1em;
  line-height: 3rem;
}

.information-list-mask > .information-list > li {
  padding: 5px 0;

  > .icon {
    display: inline-block;
    height: 40px;
    line-height: 50px;
    position: relative;
    vertical-align: middle;
    width: 40px;
  }

  > p {
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 70%;
  }
}


@media screen and (min-width: 560px) {
  .information-list-mask > .information-list > li {
    padding: 5px 0 0 0;
    top: 0;

    > span.icon {
      top: 0;
    }
  }
}


@media screen and (min-width: 768px) {
  .dyfi-form {
    .question .other {
      margin-left: 3em;
    }
  }

  .locationview-button {
    font-size: 12px;
    height: 3rem;
    line-height: 3rem;
  }
}
