
.dyfi-tablist > section {
  padding-top: 1em;
}

.dyfi-summary > ul > li {
  width: 25%;
}

.dyfi-responses {

  .view-all {
    margin: 1em 0;
  }

  .dyfi {
    > tbody > tr {

      > .location {
        > small {
          color: #999;
          display: block;
        }
      }

      > th {
        background: none;
        font-weight: normal;
      }

      > td,
      > th {
        display: none;
      }

      /* show only first 10 rows by default */
      &:nth-child(-n + 10) {
        > td,
        > th {
          display: table-cell;
        }
      }
    }

    .mmi > span {
      border-radius: 2px;
      display: block;
      padding: 10px 0;
      text-align: center;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      width: 3em;
    }
  }

  .full-list > .dyfi > tbody > tr {
    > td,
    > th {
      display: table-cell;
    }
  }
}

@media screen and (max-width: 559px) {

  .dyfi-responses {

    .dyfi {
      .mmi > span {
        padding: 0;
        width: 2em;
      }
    }

  }
}



@media screen and (min-width: 560px) {

  .dyfi-summary > ul > li {
    width: 20%;
  }
}
