@import 'mvc/ModalView.scss';
@import 'mvc/DownloadView.scss';

.dyfi-tablist > section {
  padding-top: 1em;
}

.dyfi-summary > ul > li {
  width:25%;
}

.dyfi-responses {

  .view-all {
    margin: 1em 0;
  }

  .dyfi {
    > tbody > tr {

      > .location {
        line-height: 1.2;

        > small {
          display:block;
          color:#999;
        }
      }

      > th {
        font-weight:normal;
        background:none;
      }

      > td, > th {
        display:none;
      }

      /* Show only first 10 rows by default */
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) > td, &:nth-child(#{$i}) > th {
          display:table-cell;
        }
      }
    }

    .mmi > span {
      display:block;
      padding:10px 0;
      text-align:center;
      border-radius:2px;
      text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3);
      width: 3em;
    }
  }

  .full-list > .dyfi > tbody > tr {
    td, th {
      display:table-cell;
    }
  }
}

@media screen and (max-width: 559px) {

  .dyfi-responses {

    .dyfi {
      /*** Label the data ***/
      td:nth-of-type(1):before { content:"MMI"; }
      td:nth-of-type(2):before { content:"Responses"; }
      td:nth-of-type(3):before { content:"Distance"; }

      > tbody > tr {

        > td, > th {
          display:none;
        }

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) > td, &:nth-child(#{$i}) > th {
            display:block;
          }
        }
      }

      .mmi > span {
        width:2em;
        padding:0;
      }
    }

    .full-list > .dyfi > tbody > tr {
      td, th {
        display:block;
      }
    }
  }
}



@media screen and (min-width: 560px) {

  .dyfi-summary > ul > li {
    width:20%;
  }
}
