
.dyfi-summary > ul > li {
  width: 25%;

  @media screen and (min-width: 560px) {
    width: 20%;
  }
}


.dyfi-tablist > section {
  padding-top: 1em;
}

.dyfi-responses > .view-all {
  margin-top: 1em;
}

.dyfi-response-table > tbody {

  > tr > th {
    background-color: transparent;
    font-weight: normal;
  }

  /* hide rows after 10 by default */
  > tr:nth-child(n + 11) {
    display: none;

    .full-list > & {
      display: table-row;
    }
  }
}

.dyfi-response-location {
  > small {
    color: #999;
    display: block;
  }
}

.dyfi-response-mmi > span {
  border-radius: 2px;
  display: block;
  padding: 10px 0;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  width: 3em;

  @media screen and (max-width: 559px) {
    padding: 0;
    width: 2em;
  }
}

.dyfi-response-numResp,
.dyfi-response-distance {
  text-align: center;
}

.svgimagemap {
  display: block;
}
