<div class="container" [@panelState]='panelState'>
    <div class="state-toggle" (click)="toggleState()">
      <div class="arrow">
        <div class="up" *ngIf="panelState === 'inactive'">
          <i class="fas fa-angle-up"></i>
        </div>
        <div class="down" *ngIf="panelState === 'active'">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="tabs">
        <h3 class="tab" *ngIf="infoService.hasData" (click)="selected='metadata'">Metadata</h3>
        <h3 class="tab" *ngIf="stationService.hasData" (click)="selected='stations'">Station List</h3>
      </div>

      <div class="exit" *ngIf="selected" (click)="selected=null">
        <i class="fas fa-times"></i>
      </div>

      <shakemap-view-info *ngIf="selected==='metadata'"></shakemap-view-info>
      <shakemap-view-station-list *ngIf="selected==='stations'"></shakemap-view-station-list>
    </div>
</div>
