.origin-detail {
  max-width: 750px;
  width: 100%;

  > tbody {
    td,
    th {
      > .uncertainty {
        color: #666;
        display: block;
        font-size: 0.8em;
        font-weight: normal;
      }
    }
  }
}
