dl.description-table {

  /* default size/color based on mat-header-cell */
  > dt {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
  }

  /** default size/color based on mat-cell */
  > dd {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
  }

  @media screen and (max-width: 299px) {
    /* on small screens, stack vertically */
    > dd {
      margin: 0 0 0.5em;
    }
  }

  @media screen and (min-width: 300px) {
    /* on larger screens, render like table */

    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > dt,
    > dd {
      vertical-align: middle;
      margin: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      min-height: 48px;
      overflow: hidden;
    }

    > dt {
      flex: 1 40%;
      padding: 16px;
    }

    > dd {
      flex: 1 60%;
      padding: 15px;
    }
  }
}
