/**
 * A CSS pattern to render description lists (html dl) similar to a material table.
 * Collapses to a vertical definition list when smaller than 300px.
 *
 * Include this css in the global styles.scss,
 * and add a "description-table" class to the dl element:
 *
 * <dl class="description-table">
 *   <dt>name</dt>
 *   <dd>value</dd>
 *
 *   ...
 * </dl>
 */

dl.description-table {

  /* default size/color based on mat-header-cell */
  > dt {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
  }

  /** default size/color based on mat-cell */
  > dd {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
  }

  @media screen and (max-width: 299px) {
    /* on small screens, stack vertically */
    > dd {
      margin: 0 0 0.5em;
    }
  }

  @media screen and (min-width: 300px) {
    /* on larger screens, render like table */

    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > dt,
    > dd {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      margin: 0;
      min-height: 48px;
      overflow: hidden;
      vertical-align: middle;
    }

    /* 24px column gaps */
    > dt {
      flex: 1 40%;
      padding: 16px 12px 16px 24px;
    }

    > dd {
      flex: 1 60%;
      padding: 15px 24px 15px 12px;
    }
  }
}
