@mixin leaflet-control() {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  float: left;
  margin: 10px;
  padding: 0;
}

/* adjust for attribution */
.leaflet-bottom.leaflet-left,
.leaflet-bottom.leaflet-right {
  width: 100%;
}

.leaflet-bottom.leaflet-left > .leaflet-control-scale {
  @include leaflet-control;
  bottom: 16px;
  padding: 10px;
}
.leaflet-bottom.leaflet-right > .leaflet-control-mouseposition {
  @include leaflet-control;
  float: right;
  padding: 5px 10px;
}

.leaflet-control.leaflet-control-attribution {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
