@mixin leaflet-control () {
  background: #fff;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  float: left;
  margin: 10px;
  padding: 0;
}

.leaflet-bottom.leaflet-right {
  width: 100%;
}

.leaflet-bottom.leaflet-right > .leaflet-control-scale {
  @include leaflet-control();
  padding: 10px;
}

.leaflet-control-attribution {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

@media screen and (min-width: 960px) {
  .leaflet-control-attribution {
    white-space: normal;
  }
}
