.leaflet-bottom.leaflet-right {
  width: 100%;
}

.leaflet-bottom.leaflet-right > .leaflet-control-scale {
  @include leaflet-control();
  padding: 10px;
}

.leaflet-control-attribution {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 960px) {
  .leaflet-control-attribution {
    white-space: normal;
  }
}
