$mmi-font-family: Tahoma, Verdana, Segoe, sans-serif;

$mmiI: #FFFFFF;
$mmiII: #ACD8E9;
$mmiIII: #ACD8E9;
$mmiIV: #83D0DA;
$mmiV: #7BC87F;
$mmiVI: #F9F518;
$mmiVII: #FAC611;
$mmiVIII: #FA8A11;
$mmiIX: #F7100C;
$mmiX: #C80F0A;
$mmiXI: #C80F0A;
$mmiXII: #C80F0A;

$mmiI-text-color: #000000;
$mmiII-text-color: #000000;
$mmiIII-text-color: #000000;
$mmiIV-text-color: #000000;
$mmiV-text-color: #000000;
$mmiVI-text-color: #000000;
$mmiVII-text-color: #000000;
$mmiVIII-text-color: #000000;
$mmiIX-text-color: #000000;
$mmiX-text-color: #ffffff;
$mmiXI-text-color: #ffffff;
$mmiXII-text-color: #ffffff;

.mmiI {
  background-color: $mmiI !important;
  color: $mmiI-text-color !important;
}

.mmiII {
  background-color: $mmiII !important;
  color: $mmiII-text-color !important;
}

.mmiIII {
  background-color: $mmiIII !important;
  color: $mmiIII-text-color !important;
}

.mmiIV {
  background-color: $mmiIV !important;
  color: $mmiIV-text-color !important;
}

.mmiV {
  background-color: $mmiV !important;
  color: $mmiV-text-color !important;
}

.mmiVI {
  background-color: $mmiVI !important;
  color: $mmiVI-text-color !important;
}

.mmiVII {
  background-color: $mmiVII !important;
  color: $mmiVII-text-color !important;
}

.mmiVIII {
  background-color: $mmiVIII !important;
  color: $mmiVIII-text-color !important;
}

.mmiIX {
  background-color: $mmiIX !important;
  color: $mmiIX-text-color !important;
}

.mmiX {
  background-color: $mmiX !important;
  color: $mmiX-text-color !important;
}

.mmiXI {
  background-color: $mmiXI !important;
  color: $mmiXI-text-color !important;
}

.mmiXII {
  background-color: $mmiXII !important;
  color: $mmiXII-text-color !important;
}
