$mmiI: #FFFFFF;
$mmiII: #ACD8E9;
$mmiIII: #ACD8E9;
$mmiIV: #83D0DA;
$mmiV: #7BC87F;
$mmiVI: #F9F518;
$mmiVII: #FAC611;
$mmiVIII: #FA8A11;
$mmiIX: #F7100C;
$mmiX: #C80F0A;
$mmiXI: #C80F0A;
$mmiXII: #C80F0A;

.mmiI {
  background-color: $mmiI !important;
}

.mmiII {
  background-color: $mmiII !important;
}

.mmiIII {
  background-color: $mmiIII !important;
}

.mmiIV {
  background-color: $mmiIV !important;
}

.mmiV {
  background-color: $mmiV !important;
}

.mmiVI {
  background-color: $mmiVI !important;
}

.mmiVII {
  background-color: $mmiVII !important;
}

.mmiVIII {
  background-color: $mmiVIII !important;
}

.mmiIX {
  background-color: $mmiIX !important;
}

.mmiX {
  background-color: $mmiX !important;
}

.mmiXI {
  background-color: $mmiXI !important;
}

.mmiXII {
  background-color: $mmiXII !important;
}
