article {
  border: 1px solid #ccc;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
}

header,
section,
footer {
  overflow: hidden;
  padding: 0.75em;
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  flex-grow: 1;
  font-size: 0.88em;
  margin: 0.5em 0;
  max-height: 100%;
  padding: 0 0.75em;
}

footer {
  color: #666;
  font-size: 0.77em;
  position: relative;
  text-align: center;

  &:before {
    background-image: linear-gradient(90deg, transparent 10%, rgba(0, 0, 0, 0.2) 50%, transparent 90%);
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
