<ng-container *ngIf="(eventService.event$ | async) as event">
  <ng-container *ngIf="(event | sharedHasProduct: 'dyfi')">
    <h2>Did You Feel It?</h2>
    <impact-dyfi-summary
      [event]="event"
      [products]="event | sharedGetProducts: 'dyfi'"
    >
    </impact-dyfi-summary>
  </ng-container>
  <ng-container *ngIf="(event | sharedHasProduct: 'shakemap')">
    <h2>ShakeMap</h2>
    <impact-shakemap-summary
      [event]="event"
      [products]="event | sharedGetProducts: 'shakemap'"
    >
    </impact-shakemap-summary>
  </ng-container>
  <ng-container *ngIf="(event | sharedHasProduct: 'losspager')">
    <h2>PAGER</h2>
    <impact-pager-summary
      [event]="event"
      [products]="event | sharedGetProducts: 'losspager'"
    >
    </impact-pager-summary>
  </ng-container>
  <shared-text-product
    *ngFor="
      let product of (event | sharedGetProducts: 'impact-text');
      trackBy: trackByIndex
    "
    [product]="product"
  >
  </shared-text-product>
  <ng-container *ngIf="(event | sharedHasProduct: 'impact-link')">
    <h3>For More Information</h3>
    <ul>
      <li><a [routerLink]="'/' + event.id">Overview</a></li>
      <li
        *ngFor="
          let product of (event | sharedGetProducts: 'impact-link');
          trackBy: trackByIndex
        "
      >
        <shared-link-product [product]="product"> </shared-link-product>
      </li>
    </ul>
  </ng-container>
</ng-container>
