<h3>Submit Felt Report</h3>
<div class="alert error" *ngIf="!feltReport.valid.value">
  <p>
    {{ labels.errors_title }}
  </p>
  <ul>
    <li *ngFor="let error of feltReport.valid.errors">
      {{ labels[error] ? labels[error] : error }}
    </li>
  </ul>
</div>

<form (ngSubmit)="onSubmit()">
  <button
    *ngIf="!submitting; else formSubmitting"
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!feltReport.valid.value"
  >
    {{ labels.submit }}
  </button>
  <ng-template #formSubmitting>
    <mat-spinner [diameter]="25"></mat-spinner>
  </ng-template>
</form>
