.intensity-legend {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 600px;
  width: 100%;
}

.map-container, .download {
  display: inline-block;
  vertical-align: top;
}

.download {
  padding: 1em
}

.download p {
  padding: 0;
  margin: 0;
}
