<ng-container *ngIf="eventService.product$ | async; let shakemap">

    <a
        [routerLink]="'../../map'"
        [queryParams]="{
          'shakemap-code': shakemap?.code,
          'shakemap-source': shakemap?.source,
          'shakemap-intensity': true
        }">

      <ng-container
          *ngIf="shakemap?.contents['download/cont_mi.json']; else noOverlay">

        <shared-map
            [overlays]="shakemap | shakemapOverlays:'shakemap-intensity'"
            [showScaleControl]="true">
        </shared-map>

        <img src="./assets/shakemap-intensity-legend.png" alt="ShakeMap intensity legend">
      </ng-container>

      <ng-template #noOverlay>
        <img
            src="{{ shakemap.contents['download/intensity.jpg'].url }}"
            alt="ShakeMap intensity image">
      </ng-template>

    </a>
</ng-container>
