<ng-container *ngIf="eventService?.product$ | async; let shakemap">
  <div class="layers">
    <form>
      <mat-radio-group
          [(ngModel)]="overlays"
          name="overlays"
          aria-label="ShakeMap Intensity Overlays">
        <mat-radio-button *ngIf="shakemap |
            sharedProductContent:'download/coverage_mmi_high_res.covjson'
            else noCoverage"
            [value]="coverageOverlays"
            name="coverageSelect">
          Coverage Overlay
        </mat-radio-button>
        <ng-template #noCoverage>
          <mat-radio-button
              [value]="imageOverlays"
              name="imageSelect">
            Image Overlay
          </mat-radio-button>
        </ng-template>
        <mat-radio-button [value]="contourOverlays"
            name="contourSelect">
          Contours
        </mat-radio-button>
      </mat-radio-group>
    </form>
  </div>

  <div class="map-container">
    <div class="shakemap-map"
        *ngIf="shakemap | sharedProductContent:
        'download/intensity_overlay.png':'download/ii_overlay.png';
        else noOverlay">
      <a [routerLink]="'../../map'"
          [queryParams]="{
            'shakemap-code': shakemap?.code,
            'shakemap-source': shakemap?.source,
            'shakemap-intensity': overlays === imageOverlays,
            'shakemap-mmi-contours': overlays === contourOverlays,
            'shakemap-mmi-coverage': overlays === coverageOverlays,
            'shakemap-stations': true
          }">
        <shared-map [overlays]="shakemap | shakemapOverlays:overlays"
            [showScaleControl]="true"
            [showAttributionControl]="false"
            [bounds]="shakemap | sharedGetMapBounds:true">
        </shared-map>
      </a>

      <shakemap-legend
          class="intensity-legend"
          [legendType]="'mmi'"
          [product]="shakemap">
      </shakemap-legend>
    </div>

    <ng-template #noOverlay>
      <img *ngIf="shakemap | sharedProductContent:'download/intensity.jpg' as image;
          else noImage"
          src="{{ image.url }}"
          alt="ShakeMap intensity image" />

      <ng-template #noImage>
        <h1>No intensity available for this event</h1>
      </ng-template>
    </ng-template>
  </div>

  <div class="downloads" *ngIf="shakemap | sharedProductContent:
      'download/intensity.jpg':'download/intensity.pdf':'download/intensity.png'">
    <p>
      <strong>Download Intensity Image</strong>
    </p>
    <ul class="download-links">
      <ng-container *ngFor="let format of formats; index as i;">
        <ng-container  *ngIf="shakemap | sharedProductContent: 'download/intensity.' + format as image">
          <li>
            <a target="_blank" [href]="image.url" download="image">
              {{ format | uppercase }} ({{ image.length | sharedFileSize }})
            </a>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <p>
      <small>See downloads section for more downloads</small>
    </p>
  </div>
</ng-container>