<div class="alert error">
  <h3>ShakeAlert - DELETED</h3>
  <p>
    Following human review, it appears that this alert was not caused by strong
    earthquake shaking. The Earthquake Early Warning program uses the best
    available software and systems to prevent incorrect alarms, but cannot
    prevent all false alarms. The cause of this alert is under review, and an
    update may be posted if further information becomes available.
  </p>
  <p>
    To alert in time, the Earthquake Early Warning system must act very quickly
    on data it receives. Normally this means only 1&ndash;3 seconds of seismic
    data and 3 to 4 stations reporting. It cannot wait for better data. Quick
    decisions cannot be as accurate or be right as often as earthquake decisions
    made by a seismic network with data from tens of stations and minutes of
    data.
  </p>
  <p>
    For many reasons, non-earthquake signals can be sent from seismic stations
    that seem like the start of an earthquake. Examples include passing
    vehicles, nearby construction activity, machine noise, and misbehaving
    electronics. Most of these noise signals are filtered out, but if they occur
    nearly at the same time at stations in a small area, and can fool the EEW
    system.
  </p>
</div>
