<svg:g *ngFor="let circle of circles; trackBy: trackBy">
  <!-- Add Error bars -->
  <ng-container *ngIf="circle.max && circle.min">
    <svg:g ngx-charts-line-series
        [activeEntries]="activeEntries"
        [animations]="false"
        [colors]="colors"
        [curve]="curve"
        [data]="{
          name: 'error',
          series: [
            {
              name: circle.x,
              value: circle.min
            },
            {
              name: circle.x,
              value: circle.max
            }
          ]
        }"
        [hasRange]="false"
        [rangeFillOpacity]="1"
        [scaleType]="'linear'"
        [strokeWidth]="'.5px'"
        [xScale]="xScale"
        [yScale]="yScale"
    />
    <svg:g ngx-charts-line
        [animations]="false"
        [path]="getErrorPathUpper(circle)"
        [stroke]="'#000000'"
        [strokeWidth]="'.5px'"
    />

    <svg:g ngx-charts-line
        [animations]="false"
        [path]="getErrorPathLower(circle)"
        [strokeWidth]="'.5px'"
        [stroke]="'#000000'"
    />
  </ng-container>
  <svg:g [attr.transform]="circle?.transform">
    <svg:g ngx-charts-shape
        [@animationState]="'active'"
        class="circle"
        [class.active]="circle?.isActive"
        [classNames]="circle?.classNames"
        [cx]="0"
        [cy]="0"
        [data]="circle?.value"
        [fill]="circle?.color"
        [pointerEvents]="'all'"
        [r]="circle?.radius"
        [shape]="circle?.shape"
        [stroke]="circle?.borderColor"
        [style.opacity]="circle?.opacity"
        (select)="onClick($event, circle?.label)"
        (activate)="activateCircle(circle)"
        (deactivate)="deactivateCircle(circle)"
        ngx-tooltip
        [tooltipContext]="circle.data"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipPlacement]="'top'"
        [tooltipTemplate]="tooltipTemplate"
        [tooltipTitle]="tooltipTemplate ? undefined : getTooltipText(circle)"
        [tooltipType]="'tooltip'"
    />
  </svg:g>
</svg:g>
