.leaflet-control-legend {
  @include leaflet-control();

  > .leaflet-control-legend-show {
    color: #888;
    font-size: 20px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    width: 44px;
  }
}

.leaflet-control-legend-visible > .leaflet-control-legend-show,
.leaflet-control-legend-list,
.leaflet-control-legend-hide {
  display: none;
}

.leaflet-control-legend-visible {
  padding: 6px;

  > .leaflet-control-legend-hide {
    cursor: pointer;
    width: 100%;
  }

  > .leaflet-control-legend-hide,
    .leaflet-control-legend-list {
    display: block;
  }
}


.leaflet-control-legend-list  {
  list-style: none;
  margin: 1em 0;
  padding: 0;

  > li > img {
    width: 210px;
  }
}