<p class="alert info">
  Thank you for your contribution. Your information will be processed shortly.
</p>

<dl>
  <dt>Event Id:</dt>
  <dd>{{ success.eventid }}</dd>

  <dt>Estimated intensity:</dt>
  <dd>{{ success.your_cdi }}</dd>

  <dt>Name:</dt>
  <dd>{{ success.fldContact_name }}</dd>

  <dt>Email:</dt>
  <dd>{{ success.fldContact_email }}</dd>

  <dt>Event time:</dt>
  <dd>{{ success.ciim_time }}</dd>

  <dt>Latitude:</dt>
  <dd>{{ success.ciim_mapLat }}</dd>

  <dt>Longitude:</dt>
  <dd>{{ success.ciim_mapLon }}</dd>

  <dt>Form version:</dt>
  <dd>{{ success.form_version }}</dd>
</dl>