dd {
  margin: 0;
}

figure {
  display: flex;
  flex-direction: row;
  margin: 0.25em 0 1em;

  > img {
    width: 35px;
    height: 35px;
    margin: 0 0.5em 0 0.25em
  }

  > figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
