<basic-pin
  [href]="link"
  [title]="title"
  [footer]="footer">

  <ul class="flex-image-grid nearby-seismicity-pin-view no-style">
    <li>
      <div class="image-container">
        <img src="assets/time.png" alt="Time range image" class="pin-icon" />
      </div>
      <div class="text-container">
        <h4>Time Range</h4>
        <span class="pin-time">&plusmn; Three Weeks</span>
      </div>
    </li>
    <li>
      <div class="image-container">
        <img src="assets/radius.png" alt="Search radius image" class="pin-icon" />
      </div>
      <div class="text-container">
        <h4>Search Radius</h4>
        <span class="pin-time">250.0 km</span>
      </div>
    </li>
    <li>
      <div class="image-container">
        <img src="assets/magnitude.png" alt="Magnitude Range" class="pin-icon" />
      </div>
      <div class="text-container">
        <h4>Magnitude Range</h4>
        <span class="pin-time">&ge; 4.0</span>
      </div>
    </li>
  </ul>

</basic-pin>
