.interactive-map-view {
  flex: 1;

  .leaflet-control > a.leaflet-control-legend-toggle {
    height: 35px;
    line-height: 35px;
    width: 35px;
  }
}

.legend-intensity-contour,
.legend-intensity-scale,
.legend-geocoded-area,
.legend-seismic-station,
.legend-shakemap-station {
  width: 235px;
}