.modal-map {
  height: 100%;
  max-width: none;
  position: relative;
  width: 100%;

  > .modal-content {
    display: flex;
    padding: 0;
  }

  > .modal-close,
  > .scenario-badge {
    bottom: 0;
    margin-bottom: 1em;
    left: 50%;
    margin-left: -8em;
    max-width: 100%;
    position: absolute;
    text-align: center;
    width: 16em;
  }

  > .scenario-badge {
    background-color: #fdf7dc;
    border-radius: 2px;
    bottom: auto;
    margin: 10px 0 0 -3em;
    padding: .25em 0;
    width: 6em;
    top: 0;
  }
}
