.interactive-map-view {
  flex: 1;

  .leaflet-control > a.leaflet-control-legend-toggle {
    height: 35px;
    line-height: 35px;
    width: 35px;
  }
}

.legend-epicenter,
.legend-geocoded-area,
.legend-intensity-contour,
.legend-intensity-scale,
.legend-seismic-station,
.legend-shakemap-station,
.legend-tectonic-plates,
.legend-us-faults {
  height: auto;
  width: 210px;
}