.dyfi-responses > .view-all {
  margin-top: 1em;
}

.dyfi-response-table > tbody {

  > tr > th {
    background-color: transparent;
    font-weight: normal;
  }

  /* hide rows after 10 by default */
  > tr:nth-child(n + 11) {
    display: none;

    .full-list > & {
      display: table-row;
    }
  }
}

.dyfi-response-location {
  white-space: nowrap;

  > small {
    color: #999;
    display: block;
  }
}

.dyfi-response-numResp,
.dyfi-response-distance {
  text-align: center;
}


.dyfi-view > section > .datatable {
  .datatable-tools > button {
    display: none;
  }

  .download-link {
    margin-top: 1em;
    display:block;
  }
}
