@import 'd3/_D3LineView.scss';
@import 'd3/_D3View.scss';

.IntensityGraphView {
  margin: 1em 0 0;
}

.estimated1 > .line {
  stroke: #D65617; /* orange */
  stroke-width: 1;
}

.estimated2 > .line {
  stroke: #5FCE3B; /* green */
  stroke-width: 1;
}

.scatterplot1 > .point {
  fill: #94DFEA; /* blue */
  stroke: #94DFEA; /* blue */
  stroke-width: 0;
}

.median > .point {
  fill: #FE4D55; /* red */
  stroke: #000;
  stroke-width: 0.5;
}

.standard-deviation,
.binned > .line,
.binned > .point {
  stroke: #000;
  stroke-width: 0.5;
}

.binned > .point {
  fill: #8D91FF; /* purple */
}


/* Undoing D3LineView styles */

.estimated1,
.estimated2 {

  &.mouseover,
  &.selected {

    > .line {
      stroke-width: 1;
    }
  }
}

.legend-content > .D3LineView {

  > .line {
    stroke-width: 0;
  }

  &.estimated1,
  &.estimated2 {
    > .line {
      stroke-width: 1;
    }
  }

  &.mouseover.estimated1,
  &.selected.estimated1,
  &.mouseover.estimated2,
  &.selected.estimated2,
  &.mouseover.binned,
  &.selected.binned {

    > .line {
      stroke-width: 1;
    }
  }

  &.selected {

    > .text {
      font-weight: normal;
    }
  }

  &.selected.mouseover {

    > .text {
      font-weight: bold;
    }
  }
}
