.felt-header {
  border-bottom: 1px solid #ddd;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

.question {
  > fieldset {
    margin: 1em 0;
    padding: 0;

    > legend {
      font-weight: bold;
    }
  }
}

.location-result {
  font-size: 0.8em;

  > .address {
    display: block;
    font-weight: bold;
  }
}

.location-button {
  margin: 1em 0;
}

.dyfi-optional-callout > strong {
  display: block;
  margin-bottom: 0.5em;
}

.dyfi-contact-questions {
  > legend {
    font-weight: bold;
  }

  > .text-input > label {
    font-weight: normal;
  }
}


.dyfi-form-header {
  position: relative;
}

.omb-number {
  font-size: 0.77em;
  position: absolute;
  right: 1em;
  top: -1em;
}

.leaflet-control {
  padding: 0;

  > a,
  > a:hover {
    width: $leaflet-control-size;
    height: $leaflet-control-size;
    line-height: $leaflet-control-size;
  }
}

