<div *ngIf="smInput?.event_information; let eventInfo">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Event Information
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

      <dl class="description-table">
        
        <ng-container *ngIf="eventInfo.event_description; let description">
          <dt>Description</dt>
          <dd>{{ description }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.event_id; let eventId">
          <dt>ID</dt>
          <dd>{{ eventId }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.magnitude; let mag">
          <dt>Magnitude</dt>
          <dd>{{ mag }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.depth; let depth">
          <dt>Depth</dt>
          <dd>{{ depth | sharedNumber:1:'km' }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.latitude; let lat">
          <ng-container *ngIf="eventInfo.longitude; let lng">

            <dt>GPS location</dt>
            <dd>{{ [lng, lat] | sharedLocation }}</dd>

          </ng-container>
        </ng-container>

        <ng-container *ngIf="eventInfo.origin_time; let oTime">
          <dt>Origin time</dt>
          <dd>{{ oTime | sharedDate }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.mech_src; let mechSrc">
          <dt>Mechanism</dt>
          <dd>{{ mechSrc }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.src_mech; let srcMech">
          <dt>Mechanism source</dt>
          <dd>{{ srcMech }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.location; let loc">
          <dt>Location</dt>
          <dd>{{ loc }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.faultfiles; let faultFiles">
          <dt>Fault files</dt>
          <dd>{{ faultFiles }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.fault_ref; let faultRef">
          <dt>Fault reference</dt>
          <dd>{{ faultRef }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.seismic_stations; let stations">
          <dt>Number of seismic stations</dt>
          <dd>{{ stations }}</dd>
        </ng-container>

        <ng-container *ngIf="eventInfo.intensity_observations; let intObs">
          <dt>Number of DYFI stations</dt>
          <dd>{{ intObs }}</dd>
        </ng-container>
          
      </dl>

    </ng-template>
  </mat-expansion-panel>
</div>