<ng-container *ngIf="products.length > 0">
  <h4>PAGER</h4>
  <mat-table [dataSource]="products">
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

    <ng-container matColumnDef="catalog">
      <mat-header-cell *matHeaderCellDef>
        {{ columnTitles.catalog }}
      </mat-header-cell>
      <mat-cell *matCellDef="let pager">
        <ng-container *ngIf="pager === products[0]">
          <abbr class="preferred" title="Preferred"><mat-icon>done</mat-icon></abbr>
        </ng-container>
        {{ pager.properties.eventsource }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="alertlevel">
      <mat-header-cell *matHeaderCellDef>
        {{ columnTitles.alertlevel }}
      </mat-header-cell>
      <mat-cell *matCellDef="let pager">
        <shared-alert-level [alert]="pager.properties.alertlevel">
        </shared-alert-level>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef>
        {{ columnTitles.source }}
      </mat-header-cell>
      <mat-cell *matCellDef="let pager">
        <shared-product-attribution [product]="pager">
        </shared-product-attribution>
      </mat-cell>
    </ng-container>

  </mat-table>
</ng-container>