<h4>Nodal Planes</h4>

<mat-table [dataSource]="getPlanes(tensor)">
  <!-- render order is defined by columnsToDisplay -->
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

  <ng-container matColumnDef="plane">
    <mat-header-cell *matHeaderCellDef>
      Plane
    </mat-header-cell>
    <mat-cell *matCellDef="let plane"
        [attr.role]="'rowheader'"
        [class.mat-cell]="false"
        class="mat-header-cell">
      {{ plane.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="strike">
    <mat-header-cell *matHeaderCellDef>
      Strike
    </mat-header-cell>
    <mat-cell *matCellDef="let plane">
      {{ plane.strike | sharedDegrees }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dip">
    <mat-header-cell *matHeaderCellDef>
      Dip
    </mat-header-cell>
    <mat-cell *matCellDef="let plane">
      {{ plane.dip | sharedDegrees }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="rake">
    <mat-header-cell *matHeaderCellDef>
      Rake
    </mat-header-cell>
    <mat-cell *matCellDef="let plane">
      {{ plane.rake | sharedDegrees }}
    </mat-cell>
  </ng-container>

</mat-table>
