/* TODO :: Remove these styles once everything is supported */
.not-supported {
  position: relative;
  display: block;
}
.not-supported:before {
  position: absolute;
  right: 4px;
  top: 12px;
  display: block;
  content: 'TODO';
  color:  #fafafa;
  font-size: .5em;
  background-color: #f60;
  text-shadow: 1px 1px 0 #333;
  padding: 4px;
}
