<p class="alert success">
  Thank you for your contribution. Your information will be processed shortly.
</p>

<dl>
  <dt>Event Id:</dt>
  <dd>{{ success.eventid }}</dd>

  <dt>Estimated intensity:</dt>
  <dd>{{ success.your_cdi }}</dd>

  <dt>Name:</dt>
  <dd *ngIf="success.fldContact_name as name; else dash">{{ name }}</dd>


  <dt>Email:</dt>
  <dd *ngIf="success.fldContact_email as email; else dash">{{ email }}</dd>

  <dt>Event time:</dt>
  <dd>{{ success.ciim_time }}</dd>

  <dt>Latitude:</dt>
  <dd>{{ success.ciim_mapLat }}</dd>

  <dt>Longitude:</dt>
  <dd>{{ success.ciim_mapLon }}</dd>

  <dt>Form version:</dt>
  <dd>{{ success.form_version }}</dd>
</dl>

<ng-template #dash>
  <dd>&ndash;</dd>
</ng-template>