<ng-container *ngIf="eventService?.product$ | async; let shakemap">

  <div class="shakemap-map"
      *ngIf="shakemap | sharedProductContent:'download/cont_pga.json';
      else noOverlay">
    <a [routerLink]="'../../map'"
        [queryParams]="{
          'shakemap-code': shakemap?.code,
          'shakemap-source': shakemap?.source,
          'shakemap-pga': true,
          'shakemap-stations': true,
          'shakemap-mmi-contours': false
        }">

      <shared-map
          [overlays]="shakemap | shakemapOverlays:['shakemap-pga',
          'shakemap-stations']"
          [showScaleControl]="true"
          [showAttributionControl]="false"
          [bounds]="shakemap | sharedGetMapBounds">
      </shared-map>
    </a>

    <shakemap-legend [product]="shakemap" [legendType]="'pga'">
    </shakemap-legend>
  </div>

  <ng-template #noOverlay>
    <img
        *ngIf="shakemap | sharedProductContent:'download/pga.jpg' as image;
        else noImage"
        src="{{ image.url }}"
        alt="ShakeMap peak ground acceleration image">

    <ng-template #noImage>
      <h1>No PGA available for this event</h1>
    </ng-template>
  </ng-template>

</ng-container>
