<ng-container *ngIf="eventService.product$ | async; let shakemap">

  <a *ngIf="shakemap?.contents['download/cont_pga.json']"
      [routerLink]="'../../map'"
      [queryParams]="{
        'shakemap-code': shakemap?.code,
        'shakemap-source': shakemap?.source,
        'shakemap-pga': true,
        'shakemap-intensity': false
      }">

    <shared-map
        [overlays]="shakemap | shakemapOverlays:'shakemap-pga'"
        [showScaleControl]="true">
    </shared-map>
  </a>

</ng-container>
