<ng-container *ngIf="eventService.product$ | async; let shakemap">

  <a *ngIf="shakemap?.contents['download/cont_pga.json']; else noOverlay"
      [routerLink]="'../../map'"
      [queryParams]="{
        'shakemap-code': shakemap?.code,
        'shakemap-source': shakemap?.source,
        'shakemap-pga': true,
        'shakemap-intensity': false
      }">

    <shared-map
        [overlays]="shakemap | shakemapOverlays:'shakemap-pga'"
        [showScaleControl]="true"
        [showAttributionControl]="false">
    </shared-map>
  </a>

  <ng-template #noOverlay>
    <img
        *ngIf="shakemap?.contents['download/pga.jpg']"
        src="{{ shakemap.contents['download/pga.jpg'].url }}"
        alt="ShakeMap peak ground acceleration image">
  </ng-template>

</ng-container>
