<ng-container *ngIf="products.length > 0">
  <h4>Did You Feel It?</h4>
  <mat-table [dataSource]="products">
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

    <ng-container matColumnDef="catalog">
      <mat-header-cell *matHeaderCellDef>
        {{ columnTitles.catalog }}
      </mat-header-cell>
      <mat-cell *matCellDef="let dyfi">
        <ng-container *ngIf="dyfi === products[0]">
          <abbr class="preferred" title="Preferred"><mat-icon>done</mat-icon></abbr>
        </ng-container>
        {{ dyfi.properties.eventsource }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cdi">
      <mat-header-cell *matHeaderCellDef>
        {{ columnTitles.cdi }}
      </mat-header-cell>
      <mat-cell *matCellDef="let dyfi">
        <abbr title="Community Determined Intensity">
          <shared-mmi [intensity]="dyfi.properties.maxmmi">
          </shared-mmi>
        </abbr>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="responses">
      <mat-header-cell *matHeaderCellDef>
        {{ columnTitles.responses }}
      </mat-header-cell>
      <mat-cell *matCellDef="let dyfi">
        {{ dyfi.properties.numResp }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef>
        {{ columnTitles.source }}
      </mat-header-cell>
      <mat-cell *matCellDef="let dyfi">
        <shared-product-attribution [product]="dyfi">
        </shared-product-attribution>
      </mat-cell>
    </ng-container>

  </mat-table>
</ng-container>
