<ng-container *ngIf="station">
  <h3>
    {{ station.properties.code }}
    <small>{{ station.properties.name }}</small>
  </h3>

  <div class="summary">
    <shared-mmi class="intensity"
      [intensity]="station.properties.intensity">
    </shared-mmi>

    <shared-bubble [name]="'pga'" [title]="'Maximum Horizontal Peak Ground Acceleration'">
      {{ station.properties.pga | sharedNumber:2:'%g' }}
    </shared-bubble>
    <shared-bubble [name]="'pgv'" [title]="'Maximum Horizontal Peak Ground Velocity'">
      {{ station.properties.pgv | sharedNumber:2:'cm/s' }}
    </shared-bubble>
    <shared-bubble [name]="'dist'" [title]="'Distance (km)'">
      {{ station.properties.distance | sharedNumber:2:'km' }}
    </shared-bubble>
  </div>

  <mat-expansion-panel class="details">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

      <dl class="description-table">
        <dt>Network</dt>
        <dd>{{ station.properties.network }}</dd>
        <dt>GPS Location</dt>
        <dd>{{ station.geometry.coordinates | sharedLocation }}</dd>
        <dt>Source</dt>
        <dd>{{ station.properties.source }}</dd>
        <dt>Intensity</dt>
        <dd>{{ station.properties.intensity }}</dd>
      </dl>

      <h3>Channels</h3>
      <mat-table [dataSource]="station.channels">
        <mat-header-row *matHeaderRowDef="channelsColumns">
        </mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: channelsColumns">
        </mat-row>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>
            Name
          </mat-header-cell>
          <mat-cell [attr.role]="'rowheader'"
              [class.mat-cell]="false"
              class="mat-header-cell"
              *matCellDef="let channel">
            {{ channel.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pga">
          <mat-header-cell *matHeaderCellDef>
            PGA
          </mat-header-cell>
          <mat-cell *matCellDef="let channel">
            {{ channel.pga.value |
                sharedNumber:2:channel.pga.units }}
            
            <ng-container *ngIf="channel.pga.flag === '0'; else flagged">
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pgv">
          <mat-header-cell *matHeaderCellDef>
            PGV
          </mat-header-cell>
          <mat-cell *matCellDef="let channel">
            {{ channel.pgv.value |
                sharedNumber:2:channel.pgv.units }}
            
            <ng-container *ngIf="channel.pgv.flag === '0'; else flagged">
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="psa03">
          <mat-header-cell *matHeaderCellDef>
            PSA(03)
          </mat-header-cell>
          <mat-cell *matCellDef="let channel">
            {{ channel.psa03.value |
                sharedNumber:2:channel.psa03.units }}
            
            <ng-container *ngIf="channel.psa03.flag === '0'; else flagged">
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="psa10">
          <mat-header-cell *matHeaderCellDef>
            PSA(10)
          </mat-header-cell>
          <mat-cell *matCellDef="let channel">
            {{ channel.psa10.value |
                sharedNumber:2:channel.psa10.units}}
            
            <ng-container *ngIf="channel.psa10.flag === '0'; else flagged">
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="psa30">
          <mat-header-cell *matHeaderCellDef>
            PSA(30)
          </mat-header-cell>
          <mat-cell *matCellDef="let channel">
            {{ channel.psa30.value |
                sharedNumber:2:channel.psa30.units }}
            
            <ng-container *ngIf="channel.psa30.flag === '0'; else flagged">
            </ng-container>
          </mat-cell>
        </ng-container>

      </mat-table>

    </ng-template>
  </mat-expansion-panel>

  <ng-template #flagged>
    <small>
      <abbr class="flag" title="Flagged as an outlier">
        outlier
      </abbr>
    </small>
  </ng-template>
</ng-container>