.details {
    margin-top: 10px;
}

table table {
    padding: 10px;
}

table, th, td {
    text-align: center;
}

.mmi-table {
    border:2px solid black;
    border-radius:3px;
    width:100%
}

.mmi-td {
    width:80px;
    padding-right:10px;
}

.mmi-td h1 {
    margin:0;
}

.data-container {
    padding:10px;
}


.data-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.data-table td, .data-table th {
    border: 1px solid #ddd;
    padding: .666em .75em;
}


.data-table th {
    background-color: rgba(0,0,0,.04);
}

.column {
    display: inline-block;
    margin-right: 10px;
}