.details {
  margin: 20px 0 20px 0;
}

.summary {
  align-items: center;
  display: flex;
  margin: 20px 0 20px 0;
}

.summary * {
  display: inline-block;
  margin: 5px 30px 5px 10px;
}

.flag {
  display: block;
  margin-left: 8px;
}
