:host {
  display: block;
  font-size: 17px;
  max-width: 900px;
}

.summary {
  align-items: center;
  display: flex;
  font-size: 0.88em;
  margin: 20px 0 20px 0;

  .summary-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 0.5em;
    text-align: center;
  }
}

.flag {
  display: block;
  margin-left: 8px;
}
