<basic-pin
    [link]="link"
    [product]="product">

  <div card-title>
    <a [routerLink]="link">{{ title }}</a>
    <shared-alert-level [alert]="product?.properties?.alertlevel">
    </shared-alert-level>
  </div>

  <figure *ngIf="product?.properties; else noProperties">
    <img class="alert-histogram"
         src="{{product?.contents['alertecon_smaller.png']?.url}}"
         alt="Economic Alert Histogram" />
    <figcaption>Estimated Economic Losses</figcaption>
  </figure>

  <figure>
    <img class="alert-histogram"
         src="{{product?.contents['alertfatal_smaller.png']?.url}}"
         alt="Fatality Alert Histogram" />
    <figcaption>Estimated Fatalities</figcaption>
  </figure>

  <ng-template #noProperties>
    <p class="alert error">
      Pager Information not specified.
    </p>
  </ng-template>

</basic-pin>
