[card-title] {
  display: block;
  position: relative;
  width: 100%;

  > shared-alert-level {
    font-size: smaller;
    position: absolute;
    right: -3px;
    top: -3px;
    white-space: nowrap;
  }
}

.alert.error {
  padding: 0.99em;
}
