<basic-pin
    [link]="link"
    [product]="product">

  <div card-title>
    <a [routerLink]="link">{{ title }}</a>
    <shared-alert-level [alert]="product?.properties?.alertlevel">
    </shared-alert-level>
  </div>

  <div card-content *ngIf="product">
    <h4>Estimated Economic Losses</h4>
    <img class="alert-histogram"
        src="{{product.contents['alertecon_smaller.png'].url}}"
        alt="Economic Alert Histogram" />


    <h4>Estimated Fatalities</h4>
    <img class="alert-histogram"
        src="{{product.contents['alertfatal_smaller.png'].url}}"
        alt="Fatality Alert Histogram" />
  </div>
</basic-pin>
