img {
  display: block;
  margin: 0.5em auto;
  width: 70%;
}

[card-title] {
  display: block;
  position: relative;
  width: 100%;

  > shared-alert-level {
    font-size: smaller;
    position: absolute;
    right: -3px;
    top: -3px;
    white-space: nowrap;
  }
}
