$td_padding: 10px !default; 
$td_background_color: rgb(246,246,246) !default;

$th_padding: $cell-padding !default; 
$th_background_color: rgb(237,237,237) !default;

$tr_striping: yes !default;
$tr_striping_color: rgb(250,250,250) !default;


table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom:15px;
	background: $td_background_color;
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	border:1px solid #ccc;
}

/* Zebra striping */
@if $tr_striping == yes {
	tr:nth-of-type(odd) {
		background:$tr_striping_color;
	}
}

tr {
	text-align: center;
}

th {
	background: $th_background_color;
	color:#000;
	font-weight:bold;
	padding:21px 25px 22px 25px;
	padding:$th_padding;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}

td {
	padding: $td_padding;
	border-bottom:1px solid #e0e0e0;
	border-left:1px solid #e0e0e0;
}

th:first-child,
td:first-child {
	text-align: left;
	padding-left: $td_padding * 2;
}

td > small {
	display:block;
}

@media (max-width: 767px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	table {
		background:rgb(237, 237, 237);
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead > tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		border-left: none;
		position: relative;
		padding-left: 36%;
		padding: $td_padding + 5px $td_padding;
	}

	td:before {
		position: absolute;
		box-sizing: border-box;
		top: 0;
		left: 0;
		width: 36%;
		padding: $td_padding + 5px $td_padding;
		white-space: nowrap;

		font-weight: bold;
		text-align: left;
	}

	tr {
		text-align: left;
		color:#666;
	}

	td:first-child,
	td {
		padding-left:36%;
	}

	/*** Label the data ***/
	td:nth-of-type(1):before { content: "Location"; }
	td:nth-of-type(2):before { content: "MMI"; }
	td:nth-of-type(3):before { content: "Responses"; }
	td:nth-of-type(4):before { content: "Distance"; }
}