.ground-failure-icon {
  float: left;
  height: 40px;
  margin-right: 1rem;
  stroke: #333;
  stroke-width: 0.5px;
  width: 40px;
}

.green {
  .st0, .st1 {
    fill: #27a83c;
  }
}

.yellow {
  .st0, .st1 {
    fill: #F9F518;
  }
}

.orange {
  .st0, .st1 {
    fill: #f0a216;
  }
}

.red {
  .st0, .st1 {
    fill: #ba2d1a;
  }
}
