.ground-failure-icon {
  float: left;
  height: 40px;
  margin-right: 20px;
  width: 40px;
}

.green {
  fill: #27a83c;
  .st1 {
    stroke: #27a83c;
  }
}

.yellow {
  fill: #e5e514;
  .st1 {
    stroke: #e5e514;
  }
}

.orange {
  fill: #f0a216;
  .st1 {
    stroke: #f0a216;
  }
}

.red {
  fill: #ba2d1a;
  .st1 {
    stroke: #ba2d1a;
  }
}
