.landslides-liquefaction-icon {
  float: left;
  font-size: 40px;
  margin-right: 20px;
}

.green {
  color: #27a83c;
}

.yellow {
  color: #e5e514;
}

.orange {
  color: #f0a216;
}

.red {
  color: #ba2d1a;
}