<basic-pin
    [link]="link"
    [product]="product"
    [title]="title">

  <div card-content *ngIf="product?.properties.maxmmi as mmi">

    <dl class="mmi-description">
      <dt>Estimated Intensity</dt>
      <dd>
        <shared-mmi
          [bubble]="true"
          [intensity]="mmi">
        </shared-mmi>
      </dd>
      <dt>Perceived Shaking</dt>
      <dd>{{ mmiDescription[round(mmi)].shaking }}</dd>

      <dt>Potential Damage</dt>
      <dd>{{ mmiDescription[round(mmi)].damage }}</dd>
    </dl>
  </div>

</basic-pin>
