<ng-container *ngIf="stationService?.stationsJson$ | async; let stations">
  <ng-container *ngIf="stations">
    <h2 class="plot-title">Shakemap Regression Plot</h2>
    <div class="chart-container">
      <bubble-line-chart-component
          [animations]="true"
          [autoScale]="false"
          [scheme]="colorScheme"
          [colorSchemeLine]="colorScheme"
          [customColors]="customColors"
          [lineChartTooltip]="false"
          [bubbleChart]="stations.features | plotStations:plotX:plotY"
          [tooltipDisabled]="false"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [xScaleType]="xScaleType"
          [showGridLines]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [yScaleType]="yScaleType">
      </bubble-line-chart-component>
    </div>
  </ng-container>
</ng-container>

<mat-form-field>
  <mat-select placeholder="Y-Axis Options">
    <mat-option 
        *ngFor="let option of plotYOptions"
        [value]="option.display"
        (click)="setYAxis(option)">
      {{ option.display }}
    </mat-option>
  </mat-select>
</mat-form-field>

