<ng-container *ngIf="bubbleSeries">
  <h2>Intensity vs. Distance</h2>
  <div class="chart-container">
    <bubble-line-chart-component
        [animations]="true"
        [autoScale]="true"
        [scheme]="colorScheme"
        [colorSchemeLine]="colorScheme"
        [customColors]="customColors"
        [results]="bubbleSeries"
        [lineChartTooltip]="false"
        [bubbleChart]="bubbleSeries"
        [tooltipDisabled]="false"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [scaleType]="scaleType"
        [showGridLines]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </bubble-line-chart-component>
  </div>
</ng-container>
