.mechanism-summary > ul > li {
  width:40%;

  &.image {
    width: 20%;
  }

  i {
    font-style:normal;
    display:inline-block;
    margin:0 2px 0 0;
  }
}

@media screen and (min-width:560px) {

  .mechanism-summary > ul > li {
    width: 33.3%;

    &.image,
    &.summary-hide {
      width:16.6%;
    }
  }
}