<nav>
  <a routerLink="/unknown" routerLinkActive="active">Unknown Event</a><br/>
  <br/>
  <ul>
    <li>
      <a routerLink="/us1000chhc">us1000chhc (no child)</a><br/>
      <a routerLink="/us1000chhc/executive">us1000chhc (executive)</a><br/>
      <a routerLink="/us1000chhc/region-info">us1000chhc (region-info)</a>
    </li>
    <li>
      <a routerLink="/us2000crmu">us2000crmu (no child)</a><br/>
      <a routerLink="/us2000crmu/executive">us2000crmu (executive)</a><br/>
      <a routerLink="/us2000crmu/region-info">us2000crmu (region-info)</a>
    </li>
    <li>
      <a routerLink="/us2000cmy3/origin">us2000cmy3 (origin)</a><br/>
      <a routerLink="/us2000cmy3/origin" [queryParams]="{source: 'ak'}">us2000cmy3 (origin, ak source)</a><br/>
      <a routerLink="/us2000cmy3/origin" [queryParams]="{source: 'at'}">us2000cmy3 (origin, at source)</a>
    </li>
    <li>
      <a routerLink="/nc72733850">nc72733850 (deleted)</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
