.pager-alertlevel-pending {
background-color: #fff;
color: #000;
}

.pager-alertlevel-green {
background-color: #00b04f !important;
color: #fff !important;
}

.pager-alertlevel-yellow {
background-color: #ff0 !important;
color: #000 !important;
}

.pager-alertlevel-orange {
background-color: #f90 !important;
color: #000 !important;
}

.pager-alertlevel-red {
background-color: #f00 !important;
color: #fff !important;
}