.roman {
font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.mmiI {
color: #000000 !important;
background-color: #FFFFFF !important;
}

.mmiII {
color: #000000 !important;
background-color: #ACD8E9 !important;
}

.mmiIII {
color: #000000 !important;
background-color: #ACD8E9 !important;
}

.mmiIV {
color: #000000 !important;
background-color: #83D0DA !important;
}

.mmiV {
color: #000000 !important;
background-color: #7BC87F !important;
}

.mmiVI {
color: #000000 !important;
background-color: #F9F518 !important;
}

.mmiVII {
color: #000000 !important;
background-color: #FAC611 !important;
}

.mmiVIII {
color: #000000 !important;
background-color: #FA8A11 !important;
}

.mmiIX {
color: #FFFFFF !important;
background-color: #F7100C !important;
}

.mmiX {
color: #FFFFFF !important;
background-color: #C80F0A !important;
}

.mmiXI {
color: #FFFFFF !important;
background-color: #C80F0A !important;
}

.mmiXII {
color: #FFFFFF !important;
background-color: #C80F0A !important;
}