$map-height: 100vh;
$map-width: 100vw;
$expanded-leaflet-control-height: (($map-height - 20vh) / 2);

shared-map {
  display: block;
  height: $map-height;
  width: $map-width;
}

.legend-container,
.leaflet-control-layers-list {
  background: linear-gradient(0deg, #fff 50%, #fff),
    linear-gradient(180deg, #fff 50%, #fff) bottom,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), transparent),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), transparent)
      0 100%;
  background-repeat: no-repeat;
  background-size: 100% 10px, 100% 10px, 100% 5px, 100% 5px;
  background-attachment: local, local, scroll, scroll;
  margin: 0.5em 0;
  padding: 0 0.5em;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: $expanded-leaflet-control-height;
}

/*
.leaflet-control-legend-visible > .legend-container {
  max-height: $map-height - 50vh;
}
*/

.leaflet-control-layers-expanded
  + .leaflet-control-legend-visible
  > .legend-container {
  max-height: $expanded-leaflet-control-height;
}

.fullscreen-wrapper {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: fixed;
  height: $map-height;
  width: $map-width;
  top: 0;
  left: 0;
  z-index: 1;
}

.close-button {
  bottom: 0;
  margin: 2em 1em;
  position: absolute;
  right: 0;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .close-button {
    left: 50%;
    margin-left: -60px;
    width: 120px;
  }
}
