<ng-container *ngIf="eventService?.event$ | async; let event">
  <ng-container
      *ngIf="contributorService?.contributors$ | async; let contributors">
    <ng-container
        *ngIf="sourceCodeToInfo(sourceCode, event, contributors); let info">

      <abbr *ngIf="info?.details; else noDetails"
          [title]="info?.details?.title">
        {{ info.id }}
      </abbr>
      <sup *ngIf="info?.index">
        {{ info.index }}
      </sup>

      <ng-template #noDetails>{{ info.id }}</ng-template>
    </ng-container>
  </ng-container>
</ng-container>

