/*** summary section styles ***/
.summary {
  border: 1px solid #e5e5e5;
  display: block;
  margin: 1em 0 0;
  padding: 1em 0.5em;
  position: relative;

  &:hover {
    background: rgba(48, 106, 194, 0.05);
  }

  > ul {
    line-height: 3em;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      line-height: 1em;
      max-width: 150px;
      text-align: center;
      vertical-align: middle;

      &.image > img {
        padding: 0 0.5em;
        width: 4em;
      }

      &.summary-hide {
        display: none;
      }

      > abbr {
        color: #999;
        font-size: 0.6875em;
      }

      > span {
        display: block;
      }
    }
  }
}

a.view-all {
  display: inline-block;
  font-size: 13px;
  margin: 1em 0 0 2px;
}

a.summary,
a.summary:visited,
a.summary:active,
a.summary:hover {
  color: #444;
  text-decoration: none;
}

.summary.preferred {
  &:before {
    color: #fff;
    content: '\2713'; /* checkmark */
    font-size: 0.875em;
    left: 0;
    line-height: 1.4em;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    top: 0;
    width: 1.4em;
    z-index: 3;
  }

  &:after {
    border-right: 2em solid transparent;
    border-top: 2em solid #49a34b;
    content: '';
    height: 0;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 0;
    z-index:2;
  }
}

@media screen and (min-width:560px) {
  .summary > ul {
    line-height: 3.5em;

     > li {
      font-size:1.125em;
      width: 16.6%;

      &.summary-hide {
        display: inline-block;
      }
    }
  }
}
