.table-summary {
  > tbody {
    > tr > td {
      color: #999;
      white-space: nowrap;

      &:first-child {
        padding-left: 2.25em;
      }
    }

    > tr:hover > td {
      background-color: rgba(0,0,0,0.02);
    }
    > .preferred {
      > td {
        color: #333;

        &:first-child {
          padding-left: 0.75em;
        }

        > .material-icons {
          color: #090;
          font-weight: bold;
          display: inline-block;
          margin-right: .5em;
          font-size: 1em;
        }
      }
    }
  }
}
