<tell-us-fieldset [legend]="label">
  <ng-container *ngIf="
      multiSelect; then isMultiSelect;
      else isSingleSelect">
  </ng-container>
</tell-us-fieldset>


<ng-template #isMultiSelect>
  <mat-selection-list (selectionChange)="onChange($event)">
    <mat-list-option *ngFor="let option of options"
        [checkboxPosition]="'before'"
        [selected]="value && value.includes(option.value)"
        [value]="option.value">
      {{ option.label }}
    </mat-list-option>
  </mat-selection-list>
</ng-template>


<ng-template #isSingleSelect>
  <mat-radio-group (change)="onChange($event)">
    <mat-list>
      <ng-container *ngFor="let option of options">
        <mat-list-item>
          <mat-radio-button
              [checked]="value === option.value"
              [name]="option.name"
              [value]="option.value">
            {{ option.label }}
          </mat-radio-button>
        </mat-list-item>

        <mat-list-item *ngIf="option.otherLabel" class="other">
          <mat-form-field>
            <input matInput
                #other
                (change)="onChange({
                  type: 'other',
                  value: other.value
                })"
                [disabled]="value !== option.value"
                [placeholder]="option.otherLabel"
                [value]="option.otherValue"/>
          </mat-form-field>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-radio-group>
</ng-template>
