mat-list,
mat-selection-list {
  margin: 0 0 1em;
  padding-left: 1em;
}

mat-list > mat-list-item,
mat-selection-list > mat-list-option {
  height: auto;
  margin: 0.5em 0;
}

mat-radio-button {
  display: block;
}
