<tell-us-fieldset *ngIf="model" [legend]="label">
  <mat-selection-list
    *ngIf="multiSelect; else isSingleSelect"
    [(ngModel)]="model[name]"
  >
    <mat-list-option
      *ngFor="let option of options; trackBy: trackByIndex"
      [checkboxPosition]="'before'"
      [selected]="value && value.includes(option.value)"
      [value]="option?.value"
    >
      {{ labels[(option?.label)] ? labels[(option?.label)] : option?.label }}
    </mat-list-option>
  </mat-selection-list>
</tell-us-fieldset>

<ng-template #isSingleSelect>
  <mat-radio-group [(ngModel)]="model[name]">
    <mat-list>
      <ng-container *ngFor="let option of options; trackBy: trackByIndex">
        <mat-list-item>
          <mat-radio-button [value]="option?.value"
            >{{
              labels[(option?.label)] ? labels[(option?.label)] : option?.label
            }}
          </mat-radio-button>
        </mat-list-item>

        <mat-list-item *ngIf="option?.otherLabel" class="other">
          <mat-form-field>
            <input
              matInput
              [disabled]="model[name] !== 'other'"
              [(ngModel)]="model[name + '_Other']"
              [placeholder]="labels[(option?.otherLabel)]"
              attr.aria-label="{{ labels[(option?.otherLabel)] }}"
            />
          </mat-form-field>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-radio-group>
</ng-template>
