<h2>Felt Report - Tell Us!</h2>
<ng-container
  *ngIf="(formSubmitService?.formResponse$ | async); let response; else: form"
>
  <tell-us-response [response]="response"> </tell-us-response>
</ng-container>

<ng-template #form>
  <tell-us-form
    [event]="eventService.event$ | async"
    [labels]="languageService.language$ | async"
  ></tell-us-form>
</ng-template>

<hr />

<h3>For More Information</h3>
<ul>
  <li *ngIf="(eventService?.event$ | async) as event">
    <a [routerLink]="'/' + event.id">Overview</a>
  </li>
  <li *ngIf="(eventService?.event$ | async) as event">
    <shared-summary-link [productType]="'tellus'" [event]="event">
    </shared-summary-link>
  </li>
  <li><a href="/data/dyfi/">Learn More about Did You Feel It?</a></li>
</ul>
