.dyfi-popup {
  > .dyfi-summary {
    display: block;
    list-style: none;
    padding: 0;

    &:after {
      clear: both;
      content: " ";
      display: block;
    }
  }
}

.dyfi-summary-distance,
.dyfi-summary-intensity,
.dyfi-summary-nresp {
  display: block;
  float: left;
  padding: 4px;
  text-align: center;
  width: 33.33%;

  > abbr {
    clear: left;
    color: #666;
    cursor: help;
    font-size: 0.88em;
  }
}
