<!-- containers ensure product information is ready before rendering -->
<ng-container *ngIf="eventService.event$ | async; else noEvent; let event">
  <ng-container *ngIf="event.product; else noProduct">

    <product-page-header
      [contributors]="contributorService.contributors$ | async"
      [event]="event"
      [product]="event.product"
      [title]="pageTitle"
    ></product-page-header>

    <!-- insert module content -->
    <ng-content></ng-content>

    <product-page-footer
      [event]="event"
      [product]="event.product"
    ></product-page-footer>

  </ng-container>
</ng-container>


<ng-template #noEvent>
  <p>No event information yet.</p>
</ng-template>

<ng-template #noProduct>
    <p>No product information yet.</p>
</ng-template>
