<section class="product-page {{productType}}-product-page">
  <!-- containers ensure product information is ready before rendering -->
  <ng-container *ngIf="eventService.event$ | async as event; else noEvent">
    <ng-container
        *ngIf="eventService.product$ | async as product; else noProduct">

      <product-page-header
        [contributors]="contributorService.contributors$ | async"
        [event]="event"
        [product]="product"
        [productType]="productType"
      >
        <!-- custom module header content -->
        <ng-content select="[header]"></ng-content>
      </product-page-header>

      <!-- custom module content -->
      <ng-content></ng-content>

      <product-page-footer
        [product]="product"
      >
        <!-- custom module footer cnotent -->
        <ng-content select="[footer]"></ng-content>
      </product-page-footer>

    </ng-container>
  </ng-container>
</section>

<ng-template #noEvent>
  <p>No event information yet.</p>
</ng-template>

<ng-template #noProduct>
  <p>No {{productType}} product information.</p>
</ng-template>
