<mat-expansion-panel>
  <mat-expansion-panel-header>
    PRA - Privacy Act Statement
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div class="omb-number">
      OMB No. 1028-0048
      <br />
      Expires 06/30/2021
    </div>
    <tell-us-privacy-statement></tell-us-privacy-statement>
  </ng-template>
</mat-expansion-panel>
<div class="flex-wrapper">
  <mat-form-field class="language-select">
    <mat-label>Select Language</mat-label>
    <mat-select
      (selectionChange)="onLanguageSelect($event.value)"
      [value]="language"
      cdkFocusInitial
    >
      <mat-option
        *ngFor="
          let language of languageService?.languages;
          trackBy: trackByIndex
        "
        [value]="language?.id"
      >
        {{ language?.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
