<ng-container *ngIf="this?.eventService?.event$ | async;
    else noEvent; let event">
  <hazdev-template>
    <event-page-header [event]="event"></event-page-header>

    <mat-nav-list templateSideNavigation>
      <event-page-navigation class="site-sectionnav" [event]="event"></event-page-navigation>
    </mat-nav-list>

    <ng-container *ngIf="!event?.deleted; else deletedEvent">
      <router-outlet></router-outlet>
    </ng-container>

    <ng-template #deletedEvent>
      <p class="alert error">
        The requested event has been
        <strong>deleted</strong>.
      </p>

      <shared-text-product *ngFor="let product of event?.getProducts('deleted-text');
            trackBy: trackByIndex" [product]="product">
      </shared-text-product>
    </ng-template>


    <event-page-footer [event]="event" [contributors]="this?.contributorService?.contributors$ | async"></event-page-footer>
  </hazdev-template>
</ng-container>

<ng-template #noEvent>
  <h1>No Event</h1>
</ng-template>
