<ng-container *ngIf="(oafService.forecast$ | async) as forecast">
  <p>
    Note: The expected rate of earthquakes continues to decline throughout the
    time windows. The probabilities in the longer time windows are higher only
    because the rates are being summed over a longer time period. These longer
    periods may be useful when planning recovery and rebuliding projects.
  </p>

  <h3>
    The probability of at least one aftershock of at least magnitude M within
    the given time frame. Forecast starting
    {{ forecast.columns[0].timeStart | sharedDateTime }}
  </h3>
  <!-- TODO, add forecast probabilty table -->
  <forecast-probability-table
    [forecast]="forecast"
  ></forecast-probability-table>

  <h3>
    The likely number of aftershocks of at least magnitude M within the given
    time frame. Forecast starting
    {{ forecast.columns[0].timeStart | sharedDateTime }}
  </h3>
  <!-- TODO, add forecast number table  -->
  <forecast-number-table [forecast]="forecast"></forecast-number-table>
</ng-container>
