<ng-container *ngIf="stationService?.stationsJson$ | async as stations">
  <ng-container *ngIf="stations">
    <h2 class="plot-title">
      {{
        residual ? ratio ? 'Residual Ratio' : 'Residual' : 'Regression'
      }} Plot
    </h2>
    <div class="chart-container">
      <bubble-line-chart-component
          [animations]="true"
          [autoScale]="false"
          [customColors]="customColors"
          [lineChartTooltip]="false"
          [bubbleChart]="stations.features |
              plotStations:plotting.x.type:plotting.y.type:residual:ratio"
          [lineChart]="residual || !predictions ? [] : shakemap |
              sharedGetContent:'download/attenuation_curves.json' |
              async | plotAtten:plotting.x.type:plotting.y.type:groundType"
          [tooltipDisabled]="false"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [xScaleMin]="xScaleType === 'log' ? 1 : 0"
          [xScaleType]="xScaleType"
          [showGridLines]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [symetricalYAxis]="residual && !ratio"
          [xAxisLabel]="plotting.x.label"
          [yAxisLabel]="ratio ? 'Measured / Expected (no units)' : plotting.y.label"
          [yScaleType]="yScaleType"
          [bubbleTooltipTemplate]="tooltip">
      </bubble-line-chart-component>
    </div>

    <div class="sliders">
      <div class="residual-slider slider">
        <mat-slide-toggle
            [(ngModel)]="residual"
            [disabled]="stations.features[0]?.properties.distances ? false : true"
            (change)="toggleResidual()">
          Residual View
        </mat-slide-toggle>
      </div>

      <div class="prediction-slider slider">
        <mat-slide-toggle
            [(ngModel)]="predictions"
            [disabled]="!(shakemap | sharedProductContent:'download/attenuation_curves.json') || residual">
          Prediction Curves
        </mat-slide-toggle>
      </div>
    </div>

    <div class="residual-options" *ngIf="residual">
      <form>
          <mat-form-field>
            <mat-select placeholder="Residual Type"
                [(ngModel)]="ratio"
                name="residualRatio">
              <mat-option
                  *ngFor="let option of ['Ratio', 'Difference']"
                  [value]="option==='Ratio'"
                  (click)="yScaleType=option==='Ratio' ? 'log' : 'linear'">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </form>
    </div>

    <div *ngIf="(shakemap | sharedProductContent:'download/attenuation_curves.json') &&
        predictions && !residual"
        class="prediction-options">
      <form>
        <mat-form-field>
          <mat-select placeholder="Prediction Ground Type"
              [(ngModel)]="groundType"
              name="xScaleType">
            <mat-option 
                *ngFor="let option of groundTypes"
                [value]="option.value">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="axis-options">
      <h3>Y-Axis Options</h3>

      <form>
        <mat-form-field>
          <mat-select placeholder="Intensity Measure"
              [(ngModel)]="plotting.y"
              name="plottingY">
            <mat-option 
                *ngFor="let option of plotYOptions"
                [value]="option"
                (click)="setImt(option)">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Y-Axis Scale"
              [(ngModel)]="yScaleType"
              [disabled]="residual && !ratio"
              name="yScaleType">
            <mat-option 
                *ngFor="let option of axisScaleOptions"
                [value]="option.scaleType">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="axis-options">
      <h3>X-Axis Options</h3>
      <form>
        <mat-form-field>
          <mat-select
              placeholder="Distance Type"
              [disabled]="!stations.features[0]?.properties.distances"
              [(ngModel)]="plotting.x"
              name="plottingX">
            <mat-option 
                *ngFor="let option of plotXOptions"
                [value]="option">
              <div>
                {{ option.display }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="X-Axis Scale"
              [(ngModel)]="xScaleType"
              name="xScaleType">
            <mat-option 
                *ngFor="let option of axisScaleOptions"
                [value]="option.scaleType">
              {{ option.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </ng-container>
</ng-container>

<ng-template #tooltip let-model="model">
    <shared-station
        class="shakemap-station-popup"
        [station]="model.station"
        [expanded]="true"
        [channels]="false">
    </shared-station>
</ng-template>
