<ng-container *ngIf="eventService.product$ | async; let product">
  <section class="summary row">

    <section class="landslides one-of-two column">
      <h3>Landslides</h3>

      <ng-container *ngIf="product?.properties as properties">
        <ground-failure-hazard-alert
            [alert]="properties['landslide-hazard-alert-color']"
            [type]="'landslide'"
            [value]="properties['landslide-hazard-alert-value']">
        </ground-failure-hazard-alert>

        <ground-failure-population-alert
            [alert]="properties['landslide-population-alert-color']"
            [type]="'landslide'"
            [value]="properties['landslide-population-alert-value']">
        </ground-failure-population-alert>
      </ng-container>

      <button mat-raised-button
          [routerLink]="'../../map'"
          [queryParams]="{ 'ground-failure-landslide': true,
              'shakemap-intensity': false, 'bounds': getMapBounds(product) }">
        View Landslide Map
      </button>
    </section>

    <section class="liquefaction one-of-two column">
      <h3>Liquefaction</h3>

      <ng-container *ngIf="product?.properties as properties">
        <ground-failure-hazard-alert
            [alert]="properties['liquefaction-hazard-alert-color']"
            [type]="'liquefaction'"
            [value]="properties['liquefaction-hazard-alert-value']">
        </ground-failure-hazard-alert>

        <ground-failure-population-alert
            [alert]="properties['liquefaction-population-alert-color']"
            [type]="'liquefaction'"
            [value]="properties['liquefaction-population-alert-value']">
        </ground-failure-population-alert>
      </ng-container>

      <button mat-raised-button
          [routerLink]="'../../map'"
          [queryParams]="{ 'ground-failure-liquefaction': true,
              'shakemap-intensity': false, 'bounds': getMapBounds(product) }">
        View Liquefaction Map
      </button>
    </section>

  </section>
</ng-container>
