

.landslides,
.liquefaction {
  width: 100%;
  min-width: 280px;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .summary {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 968px;
  }

  .landslides, .liquefaction {
    flex: 1;
  }

  .landslides {
    margin-right: 1em;
  }
}
