<div
    class="ngx-charts-outer"
    [style.width.px]="view[0]"
    [@.disabled]="!animations">
  <svg
      class="ngx-charts"
      [attr.width]="chartWidth"
      [attr.height]="view[1]">
    <ng-content></ng-content>
  </svg>
  <ngx-charts-scale-legend
      *ngIf="showLegend && legendType === 'scaleLegend'"
      [title]="'Explanation'"
      [horizontal]="legendOptions && legendOptions.position === 'below'"
      [valueRange]="legendOptions.domain"
      [colors]="legendOptions.colors"
      [height]="view[1]"
      [width]="legendWidth">
  </ngx-charts-scale-legend>
  <ngx-charts-custom-legend
      *ngIf="showLegend && legendType === 'legend'"
      class="chart-legend"
      [horizontal]="legendOptions && legendOptions.position === 'below'"
      [data]="legendOptions.domain"
      [title]="legendOptions.title"
      [colors]="legendOptions.colors"
      [icons]="legendOptions.icons"
      [height]="view[1]"
      [width]="legendWidth"
      [activeEntries]="activeEntries"
      (labelClick)="legendLabelClick.emit($event)"
      (labelActivate)="legendLabelActivate.emit($event)"
      (labelDeactivate)="legendLabelDeactivate.emit($event)">
  </ngx-charts-custom-legend>
</div>
