<!-- productType attribute defines type of product to load -->
<product-page productType="losspager">

  <!-- container with header attribute is added before attribution -->
  <ng-container header>
    <h2><abbr title="Prompt Assessment of Global Earthquakes for Response">PAGER</abbr></h2>
  </ng-container>

  <!-- TODO, build pager page -->
  <ng-container *ngIf="pagerXmlService.pagerXml$ | async | json as xml">
    <pre>{{ xml }}</pre>
  </ng-container>

  <ng-container footer>
    <h3>For More Information</h3>
    <ul>
      <li>
        <a href="/data/pager/">Scientific Background for PAGER</a>
      </li>
    </ul>
  </ng-container>

</product-page>
