.shake-alert-maps {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0 0 1em;
  }
}

.permanent-label {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 500px) {
  .shake-alert.row {
    display: flex;
    align-content: flex-start;

    > .column {
      flex: 1;
      min-width: 320px;
    }
  }
}
