<h3>ShakeAlert Post-Event Summary</h3>
<p>
  This report provides an overview of the performance of ShakeAlert during this
  event.
</p>

<div class="row">
  <div class="column">
    <h4>Earthquake</h4>
    <dl *ngIf="properties" class="shake-alert-summary">
      <ng-container *ngIf="properties.title">
        <dt>Title</dt>
        <dd>{{ properties.title }}</dd>
      </ng-container>
      <ng-container *ngIf="properties.time">
        <dt>Time</dt>
        <dd>{{ properties.time | sharedDateTime }}</dd>
      </ng-container>
      <ng-container *ngIf="properties.id">
        <dt>ShakeAlert Event ID</dt>
        <dd>{{ properties.id }}</dd>
      </ng-container>
    </dl>

    <shake-alert-summary-report
      [properties]="properties"
    ></shake-alert-summary-report>

    <shake-alert-nearby-cities [cities]="cities"></shake-alert-nearby-cities>

    <h4>Footnotes</h4>
    <ol class="shake-alert-footnotes">
      <li>
        *MMI -- Modified Mercalli Intensity: a scale to measure ground shaking.
      </li>
      <li>
        This report is primarily for technical managers who track the
        performance of the system. It is also helpful for tracking changes in
        performance as new capabilities are added.
      </li>
    </ol>
  </div>

  <div class="column">
    <ul class="shake-alert-maps">
      <li *ngFor="let alert of alerts">
        <ng-container
          *ngIf="alert.features[0].geometry.coordinates; let coords"
        >
          <shake-alert-map
            [alert]="alert"
            [mapBounds]="[
              [coords[1] - 10, coords[0] + 10],
              [coords[1] + 10, coords[0] - 10]
            ]"
          ></shake-alert-map>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
