<h3>ShakeAlert Post-Event Summary</h3>
<p>
  This report provides an overview of the performance of ShakeAlert during this
  event.
</p>

<div class="row">
  <div class="column">
    <h4>Earthquake</h4>
    <dl *ngIf="properties" class="shake-alert-summary">
      <ng-container *ngIf="properties.title">
        <dt>Title</dt>
        <dd>{{ properties.title }}</dd>
      </ng-container>
      <ng-container *ngIf="properties.time">
        <dt>Time</dt>
        <dd>{{ properties.time | sharedDateTime }}</dd>
      </ng-container>
      <ng-container *ngIf="properties.id">
        <dt>ShakeAlert Event ID</dt>
        <dd>{{ properties.id }}</dd>
      </ng-container>
    </dl>

    <shake-alert-summary-report
      [properties]="properties"
    ></shake-alert-summary-report>

    <shake-alert-nearby-cities [cities]="cities"></shake-alert-nearby-cities>

    <h4>Footnotes</h4>
    <ol class="shake-alert-footnotes">
      <li>
        *MMI -- Modified Mercalli Intensity: a scale to measure ground shaking.
      </li>
      <li>
        This report is primarily for technical managers who track the
        performance of the system. It is also helpful for tracking changes in
        performance as new capabilities are added.
      </li>
    </ol>
  </div>

  <div class="column">
    <ul class="shake-alert-maps">
      <!-- TODO: if alert is just one object, we are good, if it's an array
           again, we'll need to use the zero index for alerts[0]['init...]-->
      <li *ngIf="summary?.initial_alert; else noInitialAlert">
        <shake-alert-map
          [features]="summary?.initial_alert"
          [caption]="
            'Figure 1.
            Map showing initial alert, polygon, and approximate warning times.
            Map shows increasing warning times as expanding circles away from
            the epicenter; blue balloon marks the final epicenter and the dark
            gray filled circle is the location of shaking front at the time of
            first alert.'
          "
        ></shake-alert-map>
      </li>
      <!-- TODO: if alert is just one object, we are good, if it's an array
                 again, we'll need to use the zero index for alerts[0]['final...]-->
      <li *ngIf="summary?.final_alert; else noFinalAlert">
        <shake-alert-map
          [features]="summary?.final_alert"
          [caption]="'Figure 2. Map showing initial and final contours.'"
        ></shake-alert-map>
      </li>
    </ul>
    <ng-template #noInitialAlert>
      <li>There are currently no initial alert data.</li>
    </ng-template>
    <ng-template #noFinalAlert>
      <li>There are currently no final alert data.</li>
    </ng-template>
  </div>
</div>
