<mat-table [dataSource]="products">
  <mat-header-row *matHeaderRowDef="this.columnsToDisplay"></mat-header-row>
  <mat-row
    *matRowDef="let product; columns: this.columnsToDisplay"
    class="link"
    [class.selected]="product === event.product"
    [routerLink]="['/', event?.id, 'finite-fault']"
    [queryParams]="{ source: product?.source, code: product?.code }"
  >
  </mat-row>

  <ng-container matColumnDef="catalog">
    <mat-header-cell *matHeaderCellDef>Catalog</mat-header-cell>
    <mat-cell *matCellDef="let product">
      <ng-container *ngIf="product?.preferred">
        <shared-preferred-check [title]="'Preferred Finite Fault'">
        </shared-preferred-check>
      </ng-container>
      {{ product | sharedProductProperty: 'eventsource' | uppercase }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="derived-magnitude">
    <mat-header-cell *matHeaderCellDef> Magnitude </mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{
        product | sharedProductProperty: 'derived-magnitude' | sharedNumber: 1
      }}
      {{ product | sharedProductProperty: 'derived-magnitude-type' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="maximum-slip">
    <mat-header-cell *matHeaderCellDef> Maximum Slip </mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{
        product | sharedProductProperty: 'maximum-slip' | sharedNumber: 1:'m'
      }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="source">
    <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
    <mat-cell *matCellDef="let product">
      <shared-product-attribution [product]="product">
      </shared-product-attribution>
    </mat-cell>
  </ng-container>
</mat-table>
