
.pager-pin-content {

  > span {
    display: block;
    font-size: 0.88em;
    margin: 0.5em 0;
  }

  > img {
    display: block;
    margin: 0.5em auto;
    width: 70%;
  }

  > p {
    font-size: 0.9em;
  }
}

.pager-pin-header > .pager-bubble {
  padding: 3px 18px;
}
