
.pager-pin-view {

  .pin-content {

    > h3 {
      font-size: 0.77em;
      font-weight: normal;
      margin-top: 0.5em;
    }

    > figure {
      width: 70%;
      margin: 0.5em auto;
    }
  }
}
