<product-page productType="dyfi">

  <ng-container header>
    <h3>Did You Feel It?</h3>
    <a [routerLink]="'../tellus'"
        class="tell-us-link"
        queryParamsHandling="preserve">
      Felt Report - Tell Us!
    </a>
  </ng-container>

  <ng-container *ngIf="eventService.product$ | async as dyfi">
    <mdc-tab-bar-scroller>
      <mdc-tab-bar-scroll-back>
        <mdc-icon>navigate_before</mdc-icon>
      </mdc-tab-bar-scroll-back>
      <mdc-tab-bar-scroll-frame>
        <nav mdc-tab-bar>
          <a *ngIf="dyfi | sharedProductContent:dyfi.code + '_ciim_geo.jpg'"
              mdc-tab mdcRouter [routerLink]="'./intensity'"
              queryParamsHandling="preserve">
            Intensity
          </a>
          <a *ngIf="dyfi | sharedProductContent:dyfi.code + '_ciim.jpg'"
              mdc-tab mdcRouter [routerLink]="'./zip'"
              queryParamsHandling="preserve">
            ZIP Map
          </a>
          <a *ngIf="dyfi | sharedProductContent:
              'dyfi_plot_atten.json':dyfi.code + '_plot_atten.jpg'"
              mdc-tab mdcRouter [routerLink]="'./intensity-vs-distance'"
              queryParamsHandling="preserve">
            Intensity Vs. Distance
          </a>
          <a *ngIf="dyfi | sharedProductContent:
          'dyfi_plot_numresp.json':dyfi.code + '_plot_numresp.jpg'"
              mdc-tab mdcRouter [routerLink]="'./responses-vs-time'"
              queryParamsHandling="preserve">
            Responses Vs. Time
          </a>
          <a *ngIf="dyfi | sharedProductContent:'cdi_zip.xml'"
              mdc-tab mdcRouter [routerLink]="'./responses'"
              queryParamsHandling="preserve">
            DYFI Responses
          </a>
        </nav>
      </mdc-tab-bar-scroll-frame>
      <mdc-tab-bar-scroll-forward>
        <mdc-icon>navigate_next</mdc-icon>
      </mdc-tab-bar-scroll-forward>
    </mdc-tab-bar-scroller>

    <router-outlet></router-outlet>
  </ng-container>

  <ng-container footer>
  </ng-container>

</product-page>

