<product-page productType="dyfi">
  <ng-container header>
    <h3>Did You Feel It?</h3>
    <a
      [routerLink]="'../tellus'"
      class="tell-us-link"
      queryParamsHandling="preserve"
    >
      Felt Report - Tell Us!
    </a>
  </ng-container>
  <ng-container
    *ngIf="(eventService?.event$ | async) as event"
    summary-component
  >
    <impact-dyfi-summary
      [event]="event"
      [products]="event | sharedGetProducts: 'dyfi'"
    >
    </impact-dyfi-summary>
  </ng-container>

  <ng-container *ngIf="(eventService.product$ | async) as dyfi">
    <nav mat-tab-nav-bar>
      <a
        *ngIf="(dyfi | sharedProductContent: dyfi.code + '_ciim_geo.jpg')"
        mat-tab-link
        [routerLink]="'./intensity'"
        queryParamsHandling="preserve"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        Intensity
      </a>
      <a
        *ngIf="(dyfi | sharedProductContent: dyfi.code + '_ciim.jpg')"
        mat-tab-link
        [routerLink]="'./zip'"
        queryParamsHandling="preserve"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        ZIP Map
      </a>
      <a
        *ngIf="
          (dyfi
            | sharedProductContent
              : 'dyfi_plot_atten.json'
              : dyfi.code + '_plot_atten.jpg')
        "
        mat-tab-link
        [routerLink]="'./intensity-vs-distance'"
        queryParamsHandling="preserve"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        Intensity Vs. Distance
      </a>
      <a
        *ngIf="
          (dyfi
            | sharedProductContent
              : 'dyfi_plot_numresp.json'
              : dyfi.code + '_plot_numresp.jpg')
        "
        mat-tab-link
        [routerLink]="'./responses-vs-time'"
        queryParamsHandling="preserve"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        Responses Vs. Time
      </a>
      <a
        *ngIf="(dyfi | sharedProductContent: 'cdi_zip.xml')"
        mat-tab-link
        [routerLink]="'./responses'"
        queryParamsHandling="preserve"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        DYFI Responses
      </a>
    </nav>

    <router-outlet></router-outlet>
  </ng-container>

  <h3>For More Information</h3>
  <ul>
    <li>
      <a href="https://earthquake.usgs.gov/data/dyfi/"
        >Scientific Background for Did You Feel It?</a
      >
    </li>
  </ul>

  <ng-container footer> </ng-container>
</product-page>
