.station {
  padding: 1.5em 0.5em;
  position: relative;
  color: #444;

  > h3 {
    margin: 0;

    > small {
      font-weight: normal;
      padding-left: 0.5em;
    }
  }
}

.station-summary {
  padding: 0;

  > li {
    display: inline-block;
    line-height: 1;
    max-width: 100px;
    text-align: center;
    width: 25%;

    > span {
      display: block;
      max-width: 100%;
    }

    > abbr {
      color: #999;
      font-size: 0.8em;
    }
  }
}

.shakemap-stations {
  > .accordion {
    margin: 0;

    + .accordion {
      border-top: 1px solid #ddd;
    }
  }

  > :last-child {
    padding-bottom: 1em;
  }
}

.station-metadata  {
  font-size: 0.88em;

  > dt {
    margin: 1em 0 0;
  }
}
