<ng-container *ngIf="eventService?.event$ | async; let event">
  <ng-container *ngIf="getProduct(); let product">

    <dl class="description-table">
      <ng-container *ngIf="product?.properties; let props"
            class="dl.description-table">

        <dt>Magnitude<br>
          <span *ngIf="props['magnitude-error']"
              class="uncertainty">uncertainty</span>
        </dt>
        <dd>
          <shared-uncertain-value
              [value]="formatter?.magnitude(props?.magnitude,
              props['magnitude-type'])"
              [uncertainty]="props['magnitude-error']">
          </shared-uncertain-value>
        </dd>

        <dt>Location<br>
          <span *ngIf="props['horizontal-error']"
              class="uncertainty">uncertainty</span>
        </dt>
        <dd>
          <shared-uncertain-value
              [uncertainty]="props['horizontal-error']"
              [uncertaintyUnits]="'km'">
          <shared-coordinates uncertainValue
              [latitude]="props?.latitude"
              [longitude]="props?.longitude"></shared-coordinates>
          </shared-uncertain-value>
        </dd>

        <dt>
          Depth<br>
          <span class="uncertainty">uncertainty</span>
        </dt>
        <dd>
          <shared-uncertain-value
              [value]="formatter?.depth(props.depth, 'km')"
              [uncertainty]="props['vertical-error']">
          </shared-uncertain-value>
        </dd>

        <dt>Origin Time</dt>
        <dd>
          <time dateTime="{{ props?.eventtime }}">
            {{ props?.eventtime | date:"yyyy-MM-dd HH:mm:ss.SSS":"UTC" }} UTC
          </time>
        </dd>

        <dt>Number of Stations</dt>
        <dd>
          {{ formatter?.number(props['num-stations-used'], 0) }}
        </dd>

        <dt>Number of Phases</dt>
        <dd>
          {{ formatter?.number(props['num-phases-used'], 0) }}
        </dd>

        <dt>Minimum Distance</dt>
        <dd>
          <span>
            {{ formatter?.distance(props['minimum-distance'] *
                0.0174532925 * 6378.1, 'km') }}</span>
          (<span>
            {{ formatter?.angle(props['minimum-distance'], 2) }}
          </span>)
        </dd>

        <dt>Travel Time Residual</dt>
        <dd>
          {{ formatter?.number(props['standard-error'], null, null, 's') }}
        </dd>

        <dt>Azimuthal Gap</dt>
        <dd>{{ formatter?.angle(props['azimuthal-gap']) }}</dd>

        <dt><abbr title="Flin Engdahl">FE</abbr> Region</dt>
        <dd>
          <shared-fe-region
              [latitude]="props.latitude"
              [longitude]="props.longitude"></shared-fe-region>
        </dd>

        <dt>Review Status</dt>
        <dd>{{ (props['review-status'] || 'automatic') | uppercase }}</dd>

        <dt>Catalog</dt>
        <dd>
          <ng-container *ngIf="props?.eventsource && props?.eventsourcecode;
              else noCatalog">{{ props?.eventsource | uppercase }}
            <small>
              {{ (props?.eventsource + props?.eventsourcecode) |
                  lowercase }}
            </small>
          </ng-container>
          <ng-template #noCatalog>
            &ndash;
          </ng-template>
        </dd>

        <dt>Location Source</dt>
        <dd>
          <shared-attribution
              [sourceCode]="props['origin-source'] || product?.source">
          </shared-attribution>
        </dd>

        <dt>Magnitude Source</dt>
        <dd>
          <shared-attribution
              [sourceCode]="props['magnitude-source'] || product?.source">
          </shared-attribution>
        </dd>

        <dt>Contributor</dt>
        <dd>
          <shared-attribution
              [sourceCode]="product?.source"></shared-attribution>
        </dd>

      </ng-container>
    </dl>

  </ng-container>
</ng-container>
