table {
  border-collapse: collapse;
  margin-top: 1em;
  max-width: 750px;
  text-align: left;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 0.666em 0.75em;
}

th {
  background-color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
}


.uncertainty {
  color: #666;
  display: block;
  font-size: 0.8em;
  font-weight: normal;
}


a.mdc-tab {
  font-size: 14px;
}

a.mdc-tab:visited {
  color: inherit;
}

.mdc-tab-bar-scroller {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
