<!-- productType attribute defines type of product to load -->
<product-page productType="shakemap">

  <!-- container with header attribute is added before attribution -->
  <ng-container header>
    <h3>ShakeMap</h3>
  </ng-container>

  <ng-container *ngIf="eventService.product$ | async; let shakemap">
  <mdc-tab-bar-scroller>
    <mdc-tab-bar-scroll-back>
      <mdc-icon>navigate_before</mdc-icon>
    </mdc-tab-bar-scroll-back>
    <mdc-tab-bar-scroll-frame>
      <!-- routes/components in ../origin-routing.module.ts -->
      <nav mdc-tab-bar>
        <a *ngIf="shakemap?.contents['download/cont_mi.json'] ||
            shakemap?.contents['download/intensity.jpg']"
            mdc-tab mdcRouter [routerLink]="'./intensity'"
            queryParamsHandling="preserve">
          Intensity
        </a>
        <a *ngIf="shakemap?.contents['download/cont_pga.json'] ||
            shakemap?.contents['download/pga.jpg']"
            mdc-tab mdcRouter [routerLink]="'./pga'"
            queryParamsHandling="preserve">
          <abbr title="Peak Ground Acceleration">PGA</abbr>
        </a>
        <a *ngIf="shakemap?.contents['download/cont_pgv.json'] ||
            shakemap?.contents['download/pgv.jpg']"
            mdc-tab mdcRouter [routerLink]="'./pgv'"
            queryParamsHandling="preserve">
          <abbr title="Peak Ground Velocity">PGV</abbr>
        </a>
        <a *ngIf="shakemap?.contents['download/cont_psa03.json'] ||
            shakemap?.contents['download/cont_psa10.json'] ||
            shakemap?.contents['download/cont_psa30.json'] ||
            shakemap?.contents['download/psa03.jpg'] ||
            shakemap?.contents['download/psa10.jpg'] ||
            shakemap?.contents['download/psa30.jpg']"
            mdc-tab [routerLink]="'./psa'"
            queryParamsHandling="preserve">
          <abbr title="Peak Spectral Acceleration">PSA</abbr>
        </a>
        <a mdc-tab mdcRouter [routerLink]="'./metadata'"
            queryParamsHandling="preserve">
          Metadata
        </a>
        <a mdc-tab mdcRouter [routerLink]="'./stations'"
            queryParamsHandling="preserve">
          Station List
        </a>
        <a *ngIf="shakemap?.contents['download/urat_pga.jpg']"
            mdc-tab mdcRouter [routerLink]="'./uncertainty'"
            queryParamsHandling="preserve">
          Uncertainty
        </a>
      </nav>
    </mdc-tab-bar-scroll-frame>
    <mdc-tab-bar-scroll-forward>
      <mdc-icon>navigate_next</mdc-icon>
    </mdc-tab-bar-scroll-forward>
  </mdc-tab-bar-scroller>

    <router-outlet></router-outlet>
  </ng-container>

  <!-- container with footer attribute is added before downloads -->
  <ng-container footer>
  </ng-container>

</product-page>
