@import '../../../../../../node_modules/hazdev-webutils/src/mvc/ModalView';
@import '../../../../../../node_modules/hazdev-webutils/src/mvc/DownloadView';

.origin-summary > ul > li {
  width:25%;
  padding:10px 0;
}

.origin-detail {
  width:100%;
  max-width:750px;

  th, td {
    text-align:left;

    > .uncertainty {
      color:#666;
      display:block;
      font-weight:normal;
      font-size:smaller;
    }
  }
}

.networkmagnitude-summary {
  .magnitude {
    color:#000000 !important;
    background-color:#FFFFFF !important;
    box-shadow:0 0 1px #666;
  }
}

.networkmagnitude-summary > li {

  &.magnitude {
    color:#000;
    padding:5px;
    border-radius:2px;
    text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    padding:0.5em 0;

    > abbr {
      color:#666;
    }
  }
}

/* add space between accordion sections, magnitudes tab */
.networkmagnitude {
  margin: 1em 0 0;
}

@media screen and (max-width:559px) {

  // Scientific -> Hypocenter -> Phases
  table.hypocenter-phase {
    td:nth-of-type(1):before { content:'Distance'; }
    td:nth-of-type(2):before { content:'Azimuth'; }
    td:nth-of-type(3):before { content:'Phase'; }
    td:nth-of-type(4):before { content:'Arival Time'; }
    td:nth-of-type(5):before { content:'Status'; }
    td:nth-of-type(6):before { content:'Residual'; }
    td:nth-of-type(7):before { content:'Weight'; }
  }

  // Scientific -> Hypocenter -> Magnitudes
  table.networkmagnitude-stations {
    td:nth-of-type(1):before { content:'Type'; }
    td:nth-of-type(2):before { content:'Amplitude'; }
    td:nth-of-type(3):before { content:'Period'; }
    td:nth-of-type(4):before { content:'Status'; }
    td:nth-of-type(5):before { content:'Magnitude'; }
    td:nth-of-type(6):before { content:'Weight'; }
  }
}

@media screen and (min-width:560px) {

  table.hypocenter-phase {
    > tbody {
      > tr {
        > th {
          background:none;
          font-weight:normal;
        }
        > .distance,
        > .azimuth,
        > .time,
        > .residual,
        > .weight {
          text-align:right;
        }

        > .phase,
        > .status {
          text-align:center;
        }
      }
    }
    > thead > tr > th {
      text-align:center;
    }
  }
  table.networkmagnitude-stations {
    > tbody {
      > tr {
        background: #fafafa;

        > th {
          background:none;
          font-weight:normal;
        }
        > .amplitude,
        > .period,
        > .magnitude,
        > .weight {
          text-align:right;
        }

        > .type,
        > .status {
          text-align:center;
        }
      }
    }
    > thead > tr > th {
      text-align:center;
    }
  }
}
