
.hypocenter-summary {

	> .header {
		padding:30px 0 0;
		color:#444;
		width:85px;

		> header {
			margin:0;
			font-size:30px;
			line-height:36px;
			font-weight:bold;
		}

		> small {
			font-size:inherit;
		}
	}

	> .info {
		padding:30px 10px 0 100px;
		font-size:14px;

		> span {
			display:block;
			margin:0;
		}
	}

}

.origin-detail {
	width:100%;
	max-width:750px;

	th, td {
		text-align:left;

		> .uncertainty {
			color:#666;
			float:right;
			white-space:nowrap;
		}
	}
}

.scientific-hypocenter {

	> .tablist-top > nav > section {
		max-width:none;
		line-height:1;
	}

	> .downloads {
		margin:2em 0;
	}

}

.networkmagnitude-mag {
	display:block;
}

.networkmagnitude-type .networkmagnitude-mag {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	font-size:.8em;
}

.networkmagnitude-summary {
	.magnitude {
		color:#000000 !important;
		background-color:#FFFFFF !important;
		box-shadow:0 0 1px #666;
	}
}

.networkmagnitude > .accordion-content {
		padding:0;
	}

@media screen and (max-width:767px) {

	// Scientific -> Hypocenter -> Phases
	table.hypocenter-phase {
		td:nth-of-type(1):before { content:'Distance'; }
		td:nth-of-type(2):before { content:'Azimuth'; }
		td:nth-of-type(3):before { content:'Phase'; }
		td:nth-of-type(4):before { content:'Arival Time'; }
		td:nth-of-type(5):before { content:'Status'; }
		td:nth-of-type(6):before { content:'Residual'; }
		td:nth-of-type(7):before { content:'Weight'; }
	}

	// Scientific -> Hypocenter -> Magnitudes
	table.networkmagnitude-stations {
		td:nth-of-type(1):before { content:'Type'; }
		td:nth-of-type(2):before { content:'Amplitude'; }
		td:nth-of-type(3):before { content:'Period'; }
		td:nth-of-type(4):before { content:'Status'; }
		td:nth-of-type(5):before { content:'Magnitude'; }
		td:nth-of-type(6):before { content:'Weight'; }
	}
}

@media screen and (min-width:768px) {
	.hypocenters-summary > .info {
		padding:30px 10px 0 100px;
		font-size:14px;
	}

	table.hypocenter-phase {
		> tbody {
			> tr {
				> .distance,
				> .azimuth,
				> .time,
				> .residual,
				> .weight {
					text-align:right;
				}

				> .phase,
				> .status {
					text-align:center;
				}
			}
		}
	}
	table.networkmagnitude-stations {
		> tbody {
			> tr {
				> .amplitude,
				> .period,
				> .magnitude,
				> .weight {
					text-align:right;
				}

				> .type,
				> .status {
					text-align:center;
				}
			}
		}
	}
}
