
.hypocenter-summary {

	> .header {
		padding: 30px 0 0;
		color: #444;
		width:85px;

		> header {
			margin:0;
			font-size: 30px;
			line-height: 36px;
			font-weight:bold;
		}

		> small {
			font-size:inherit;
		}
	}

	> .info {
		padding:30px 10px 0 100px;
		font-size:14px;

		> span {
			display:block;
			margin:0;
		}

	}
}

@media screen and (min-width:768px) {

	.hypocenters-summary > .info {
		padding:30px 10px 0 100px;
		font-size:14px;
	}

	.hypocenter-phase {
		font-size:smaller;
		> tr {
			> .distance,
			> .azimuth,
			> .arrival,
			> .residual,
			> .weight {
				text-align:right;
				margin-right:1.5em;
			}
		}
	}

}

.origin-detail {
	width: 100%;
	max-width:750px;

	th, td {
		text-align: left;

		> .uncertainty {
			color: #666;
			float: right;
			white-space: nowrap;
		}
	}
}

.scientific-hypocenter {

	> .tablist-top > nav > section {
		max-width:none;
		line-height:1;
	}

	> .downloads {
		margin:2em 0;
	}

}

@media screen and (max-width:767px) {
  .origin > table.responsive {
  td:nth-of-type(1):before { content:'NSCL'; }

  td:nth-of-type(2):before { content:'Distance'; }

  td:nth-of-type(3):before { content:'Azimuth'; }

  td:nth-of-type(4):before { content:'Phase'; }

  td:nth-of-type(5):before { content:'Arival Time'; }

  td:nth-of-type(6):before { content:'Status'; }

  td:nth-of-type(7):before { content:'Residual'; }

  td:nth-of-type(8):before { content:'Weight'; }
	}
}
