.tensors {

	> .summary {

		> .info {
			padding:12px 10px 0 135px;

			> header.title {
				font-weight:bold;
				font-size:16px;
				margin:0 0 5px;
			}

			> dl {
				//color:#666;
				margin:0;

				> dt {
					float: left;
					width: 85px;
				}

				> dd {
					margin: 0 0 0 95px;
				}
			}
		}
	}
}


.tensor-detail {

	.info-table {
		width:100%;
		max-width:480px;

		th, td {
			text-align: left;
		}
	}

	.toggle.hidden {
		display:none; // hide elements
	}

	.toggle-button {
		border: 1px solid #87B4D4;
		background: #E1E8FF;
		color: #3B769C;
		padding:0 5px;
		float:right;
		cursor:pointer;
	}

	.toggle-button.on:before {
		content: '- less';
	}

	.toggle-button.off:before {
		content: '+ more';
	}

	.principal-axes-table,
	.nodal-plane-table {
		width:100%;
		max-width:480px;

		td {
			text-align: right;
		}
	}

	> .downloads {
		margin:2em 0;
	}
}
