

.scientific-detail {

	> .tablist-top > nav > section {
		max-width:none;
		line-height:1;
	}


	> .downloads {
		margin:1em 0 2em;

		&:before {
			display:block;
			content: 'Downloads';
			font-size: larger;
			font-weight:bold;
		}
	}

}
