/* This file should import partials for the scientific module/modulepages. */


// TODO: move this to a different style sheet
// table.tabular {
// 	background-color:#fefefe;
// 	border: 1px solid #eee;
// 	border-collapse: collapse;
// 	color:#333;

// 	th {
// 		background-color:#eee;
// 	}

// 	th, td {
// 		padding:5px;
// 		border-right: 1px solid #ddd;
// 		border-bottom:1px solid #ddd;
// 	}
// }

// TODO: move this to a different style sheet
canvas {
	max-width: 100%;
	display:block;
	margin:auto;
}

// TODO: move this to a different style sheet
@media screen and (max-width:767px) {
	.tablist-panel {
		border-top: 1px solid #ccc;
	}
}

@import "ScientificSummaryPage";
@import "HypocenterPage";
@import "MomentTensorPage";

