/* This file should import partials for the scientific module/modulepages. */


// TODO: move this to a different style sheet
table.striped {
	background-color:#fefefe;
	border: 1px solid #eee;
	border-collapse: collapse;
	color:#333;

	> thead > tr {
		background-color:#ddd;
	}

	> tbody > tr:nth-child(2n + 1) {
		background-color:#eee;
	}

	th, td {
		padding:5px;
	}
}

// TODO: move this to a different style sheet
canvas {
	max-width: 100%;
}


@import "ScientificSummaryPage";
@import "ScientificDetailPage";
@import "MomentTensorPage";

