<!-- productType attribute defines type of product to load -->
<product-page productType="oaf" [showAllProducts]="false">
  <!-- container with header attribute is added before attribution -->
  <ng-container header><h2>Aftershock Forecast</h2></ng-container>

  <ng-container
    *ngIf="(eventService.product$ | async) as product; else noProduct"
  >
    <div class="horizontal-scrolling mat-tab-wrapper">
      <!-- routes/components in ../oaf-routing.module.ts -->
      <nav mat-tab-nav-bar>
        <!-- ngIf is required to get the active style on the correct tab -->
        <a
          *ngIf="product"
          mat-tab-link
          [routerLink]="'./commentary'"
          queryParamsHandling="preserve"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          Commentary
        </a>
        <!-- ngIf is required to get the active style on the correct tab -->
        <a
          *ngIf="product"
          mat-tab-link
          [routerLink]="'./forecast'"
          queryParamsHandling="preserve"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          Forecast
        </a>
        <!-- ngIf is required to get the active style on the correct tab -->
        <a
          *ngIf="product"
          mat-tab-link
          [routerLink]="'./model'"
          queryParamsHandling="preserve"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          Model
        </a>
      </nav>
    </div>

    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #noProduct>
    <p class="alert error">No product to display.</p>
  </ng-template>

  <!-- container with footer attribute is added before downloads -->
  <ng-container footer> </ng-container>
</product-page>
