<basic-pin
    [link]="link"
    [product]="product">

  <div card-title>
    <a [routerLink]="link">{{ title }}</a>
    <shared-mmi
      [bubble]="true"
      [intensity]="product?.properties?.maxmmi">
    </shared-mmi>
  </div>

  <figure *ngIf="product | sharedProductContent:
      product?.properties?.eventsource +
      product?.properties?.eventsourcecode + '_ciim_geo.jpg'
      let image; else empty">
    <img src="{{ image.url }}" alt="DYFI Intensity Map" />
    <figcaption>Community Internet Intensity Map</figcaption>
  </figure>

  <ng-template #empty>
    <p class="alert error">
      Map Information not specified.
    </p>
  </ng-template>

</basic-pin>
