/* spinner styles to display USGS logo and spinner */

body,
html {
  height: 100%;
}

.mask {
  background: #fff;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  > .logo {
    background: url(./assets/usgs-logo.svg) center center no-repeat;
    background-size: 15%;
    background-color: #3d5e80;
    height: 100vh;
    width: 100vw;
  }

  > .spinner {
    height: 50vh;
    width: 50vw;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    > .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: rgba(0, 115, 80, 0.25);
      stroke: rgba(255, 255, 255, 0.3);
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
