/* You can add global styles to this file, and also import other style files */

@import "./app/shared/css/contour-overlay.scss";
@import "./app/shared/css/description-table.scss";
@import "./app/shared/css/horizontal-scrolling.scss";
@import "./app/shared/css/mmi-colors.scss";
@import "./app/shared/css/station-overlay.scss";

/* Leaflet Styles */
@import "./app/shared/css/leaflet-styles.scss"; // import before legend-control.scss
@import "./app/shared/map-control/legend-control.scss";

header > h1 {
  margin-bottom: 0;
}

/* Material Design Component Styles */
a.mdc-tab,
mdc-tab.mdc-tab {
  font-size: 14px;

  &:visited {
    color: inherit;
  }
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

nav.mdc-tab-bar,
mdc-tab-bar.mdc-tab-bar {
  /* stop tabs from being centered */
  margin: 0;
}

mdc-tab-bar-scroller.mdc-tab-bar-scroller {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

@import "~@angular-mdc/theme/material";

/* allow wrapping on small screens */
.mat-radio-label-content {
  white-space: normal;
}

/* styles that should be added to the template */
canvas,
img {
  max-width: 100%;
}

.sidenav-content {
  overflow: hidden;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
  padding: 0 1em;
}
