<ng-container *ngIf="eventService.event$ | async; let event">

  <shared-summary-link
      [productType]="'regioninfo'"
      [event]="event">
  </shared-summary-link>

  <shared-map
      [routerLink]="'../map'"
      [queryParams]="{ 'historic-seismicity': true }"
      [overlays]="event | getProduct:'origin' | regionInfoOverlays"
      [showScaleControl]="true">
  </shared-map>

  <!-- Geoserve Components -->
  <app-admin-region></app-admin-region>
  <app-nearby-places></app-nearby-places>
  <app-tectonic-summary-region></app-tectonic-summary-region>
</ng-container>
