<ng-container *ngIf="eventService?.product$ | async; let shakemap">

  <h3>Peak Spectral Acceleration for 0.3 s, 1.0 s, 3.0 s</h3>

  <div class="shakemap-map"
      *ngIf="shakemap | sharedProductContent:
      'download/cont_psa03.json':'download/cont_psa0p3.json'; else noPSA03">
    <h4>0.3 s PSA (%g)</h4>
    <a [routerLink]="'../../map'"
       [queryParams]="{
         'shakemap-code': shakemap?.code,
         'shakemap-source': shakemap?.source,
         'shakemap-psa03': true,
         'shakemap-stations': true,
         'shakemap-mmi-contours': false
       }">

      <shared-map
          [overlays]="shakemap | shakemapOverlays:['shakemap-psa03',
          'shakemap-stations']"
          [showScaleControl]="true"
          [showAttributionControl]="false"
          [bounds]="shakemap | sharedGetMapBounds">
      </shared-map>
    </a>

    <shakemap-legend [product]="shakemap" [legendType]="'psa0p3'">
    </shakemap-legend>
  </div>

  <ng-template #noPSA03>
    <img
        *ngIf="shakemap | sharedProductContent:'download/psa03.jpg' as image;
        else noPSA03Image"
        src="{{ image.url }}"
        alt="ShakeMap 0.3 s PSA (%g) image">

    <ng-template #noPSA03Image>
      <h1>No 0.3 s PSA available for this event</h1>
    </ng-template>
  </ng-template>

  <div class="shakemap-map"
      *ngIf="shakemap | sharedProductContent:
      'download/cont_psa10.json':'download/cont_psa1p0.json'; else noPSA10">
    <h4>1.0 s PSA (%g)</h4>
    <a [routerLink]="'../../map'"
        [queryParams]="{
          'shakemap-code': shakemap?.code,
          'shakemap-source': shakemap?.source,
          'shakemap-psa10': true,
          'shakemap-stations': true,
          'shakemap-mmi-contours': false
        }">

      <shared-map
          [overlays]="shakemap | shakemapOverlays:['shakemap-psa10',
          'shakemap-stations']"
          [showScaleControl]="true"
          [showAttributionControl]="false"
          [bounds]="shakemap | sharedGetMapBounds">
      </shared-map>
    </a>

    <shakemap-legend [product]="shakemap" [legendType]="'psa1p0'">
    </shakemap-legend>
  </div>

  <ng-template #noPSA10>
    <img
        *ngIf="shakemap | sharedProductContent:'download/psa10.jpg' as image;
        else noPSA10Image"
        src="{{ image.url }}"
        alt="ShakeMap 1.0 s PSA (%g) image">

    <ng-template #noPSA10Image>
      <h1>No 1.0 s PSA available for this event</h1>
    </ng-template>
  </ng-template>

  <div class="shakemap-map"
      *ngIf="shakemap | sharedProductContent:
      'download/cont_psa30.json':'download/cont_psa3p0.json'; else noPSA30">
    <h4>3.0 s PSA (%g)</h4>
    <a [routerLink]="'../../map'"
       [queryParams]="{
          'shakemap-code': shakemap?.code,
          'shakemap-source': shakemap?.source,
          'shakemap-psa30': true,
          'shakemap-stations': true,
          'shakemap-mmi-contours': false
        }">

      <shared-map
          [overlays]="shakemap | shakemapOverlays:['shakemap-psa30',
          'shakemap-stations']"
          [showScaleControl]="true"
          [showAttributionControl]="false"
          [bounds]="shakemap | sharedGetMapBounds">
      </shared-map>
    </a>

    <shakemap-legend [product]="shakemap" [legendType]="'psa3p0'">
    </shakemap-legend>
  </div>

  <ng-template #noPSA30>
    <img
        *ngIf="shakemap | sharedProductContent:'download/psa30.jpg' as image;
        else noPSA30Image"
        src="{{ image.url }}"
        alt="ShakeMap 3.0 s PSA (%g) image">

    <ng-template #noPSA30Image>
      <h1>No 3.0 s PSA available for this event</h1>
    </ng-template>
  </ng-template>

</ng-container>
