<ng-container>
  <mat-card [routerLink]="'../region-info'">
    <mat-card-title>
      {{ title }}
    </mat-card-title>
    <mat-card-subtitle>
      Contributed by
      <span [innerHTML]="product | contributorList:event:contributors"></span>
    </mat-card-subtitle>
    <mat-card-content>
      <div id="region-info-map" class="full-width"></div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" [routerLink]="'../region-info'">
        View Regional Information
      </a>
    </mat-card-actions>
  </mat-card>
</ng-container>