<h2>Intensity vs. Distance</h2>

<div class="chart-container">
  <ng-container *ngIf="bubbleSeries || lineSeries">
    <bubble-line-chart-component
      [scheme]="colorScheme"
      [colorSchemeLine]="colorScheme"
      [customColors]="customColors"
      [results]="allResults"
      [animations]="animations"
      [lineChart]="lineSeries"
      [bubbleChart]="bubbleSeries"
      [tooltipDisabled]="false"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showGridLines]="false"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [showRightYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </bubble-line-chart-component>
  </ng-container>
</div>
