<h2>Intensity vs. Distance</h2>

<div class="chart-container">
  <ng-container *ngIf="dyfiSeries as series">
    <ngx-charts-bubble-line-chart
      [results]="series.series"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-bubble-line-chart>
  </ng-container>
</div>