.icon-button {
  line-height: 2;
  margin: 0 0.5em;
  min-width: 0;
  padding: 0 0.5em;

  i {
    font-size: 16px;
    font-weight: bold;
  }
}

.map {
  display: block;
  height: 220px;
}

.leaflet-location-control {
  cursor: pointer;
}

.leaflet-location-control > a.material-icons {
  font-size: 16px;
  font-weight: bold;
}
