<ng-container *ngIf="shape == 'circle'">
  <svg:circle
      [attr.cx]="cx"
      [attr.cy]="cy"
      [attr.r]="r"
      [attr.fill]="fill"
      [attr.stroke]="stroke"
      [attr.opacity]="circleOpacity"
      [attr.class]="classNames"
      [attr.pointer-events]="pointerEvents"
  />
</ng-container>

<ng-container *ngIf="shape == 'triangle'">

  <svg:polygon 
      [attr.transform]="getTriangleTransform(getTriangleRadius(r))"
      [attr.height]="getTriangleRadius(r)"
      [attr.width]="getTriangleRadius(r)"
      [attr.points]="getTrianglePath(getTriangleRadius(r))"
      [attr.fill]="fill"
      [attr.stroke]="stroke"
      [attr.opacity]="circleOpacity"
      [attr.class]="classNames"
      [attr.pointer-events]="pointerEvents"
  />
</ng-container>
