<ng-container *ngIf="eventService?.event$ | async; let event">
  <ng-container *ngIf="event | getProduct:'shakemap' as shakemap">
    <ng-container *ngIf="activatedRoute.queryParamMap | async; let params">
    <a
        [routerLink]="'../../map'"
        [queryParams]="{
          'shakemap-code': shakemap?.code,
          'shakemap-intensity': true,
          'shakemap-source': shakemap?.source
        }">
      <shared-map
          [overlays]="event | interactiveMapOverlays:params"
          [showScaleControl]="true">
      </shared-map>
    </a>
    </ng-container>
  </ng-container>
</ng-container>
