<div  *ngIf="smProcessing">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Ground Motion/Intensity Information
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-table [dataSource]="smProcessing.ground_motion_modules">
        <mat-header-row *matHeaderRowDef="headers.groundMotionModules"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: headers.groundMotionModules"></mat-row>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>
            Type
          </mat-header-cell>
          <mat-cell [attr.role]="'rowheader'"
                      [class.mat-cell]="false"
                      class="mat-header-cell"
                      *matCellDef="let module">

            {{ names.ground_motion_modules[module.type] ? 
                names.ground_motion_modules[module.type] : module.type }}

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="module">
          <mat-header-cell *matHeaderCellDef>
            Module
          </mat-header-cell>
          <mat-cell *matCellDef="let module">

            {{ module.module }}

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef>
            Reference
          </mat-header-cell>
          <mat-cell *matCellDef="let module">

            {{ module.reference }}

          </mat-cell>
        </ng-container>

      </mat-table>
    </ng-template>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Miscellaneous
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <dl class="description-table" *ngIf="smProcessing.miscellaneous; let miscellaneous">

        <ng-container *ngIf="miscellaneous.bias_max_mag; let biasMaxMag">
          <dt>Max magnitude to compute bias</dt>
          <dd>{{ biasMaxMag }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.bias_max_range; let biasMaxRange">
          <dt>Maximum distance to include station in bias</dt>
          <dd>{{ biasMaxRange }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.bias_log_amp; let biasLogAmp">
          <dt>Use log amp to compute bias</dt>
          <dd>{{ biasLogAmp }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.bias_max_bias; let biasMaxBias">
          <dt>Max allowed bias</dt>
          <dd>{{ biasMaxBias }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.bias_min_bias; let biasMinBias">
          <dt>Use log amp to compute bias</dt>
          <dd>{{ biasMinBias }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.bias_min_stations; let biasMinStations">
          <dt>Min # of stations necessary to compute bias</dt>
          <dd>{{ biasMinStations }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.bias_norm; let biasNorm">
          <dt>Norm of the bias</dt>
          <dd>{{ biasNorm }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.median_dist; let medDist">
          <dt>Median distance used</dt>
          <dd>{{ medDist }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.outlier_deviation_level; let devLevel">
          <dt>Outlier level (# of std dev)</dt>
          <dd>{{ devLevel }}</dd>
        </ng-container>

        <ng-container *ngIf="miscellaneous.outlier_max_mag; let maxMag">
          <dt>Max magnitude to flag outliers</dt>
          <dd>{{ maxMag }}</dd>
        </ng-container>

      </dl>
    </ng-template>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            ShakeMap Versions
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <dl class="description-table" *ngIf="smProcessing.shakemap_versions; let versions">

        <ng-container *ngIf="versions.shakemap_revision; let smRev">
          <dt>Code</dt>
          <dd>{{ smRev }}</dd>
        </ng-container>

        <ng-container *ngIf="versions.shakemap_revision_id; let smRevId">
          <dt>Github commit</dt>
          <dd>{{ smRevId }}</dd>
        </ng-container>

        <ng-container *ngIf="versions.map_version; let version">
          <dt>Map version</dt>
          <dd>{{ version }}</dd>
        </ng-container>

        <ng-container *ngIf="versions.process_time; let time">
          <dt>Date</dt>
          <dd>{{ time | date:'medium' }}</dd>
        </ng-container>

      </dl>
    </ng-template>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Site Response
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

      <dl class="description-table" *ngIf="smProcessing.site_response; let siteResp">

        <ng-container *ngIf="siteResp.vs30default; let vs30">
          <dt>Reference rock Vs30</dt>
          <dd>{{ vs30 }}</dd>
        </ng-container>

        <ng-container *ngIf="siteResp.site_correction; let site">
          <dt>Site correction applied</dt>
          <dd>{{ site }}</dd>
        </ng-container>

      </dl>

    </ng-template>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            ROI
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

      <mat-table [dataSource]="smProcessing.roi">
        <mat-header-row *matHeaderRowDef="headers.roi"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: headers.roi"></mat-row>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>
            Type
          </mat-header-cell>
          <mat-cell [attr.role]="'rowheader'"
                      [class.mat-cell]="false"
                      class="mat-header-cell"
                      *matCellDef="let roi">

            {{ names.roi[roi.type] ? 
                names.roi[roi.type] : roi.type }}

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roi">
          <mat-header-cell *matHeaderCellDef>
            ROI
          </mat-header-cell>
          <mat-cell *matCellDef="let roi">
            
            {{ roi.roi }}

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="observation_decay">
          <mat-header-cell *matHeaderCellDef>
            Observation Decay
          </mat-header-cell>
          <mat-cell *matCellDef="let roi">

            {{ roi.decay }}
            
          </mat-cell>
        </ng-container>

      </mat-table>
      
    </ng-template>
  </mat-expansion-panel>
</div>